{% extends '@Volontariat/base.html.twig' %}

{% block stylesheets %}
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{{ asset('bundles/volontariat/assets/vendor/icon-hs/style.css') }}">
    <link rel="stylesheet"
          href="{{ asset('bundles/volontariat/assets/vendor/fancybox/jquery.fancybox.min.css') }}">
{% endblock %}

 {% block breadcrumbs %}
     {% include '@Volontariat/base/breadcrumbs.html.twig' with {'title': page.title} %}
 {% endblock %}

{% block body %}
    <section class="container g-py-100">
        <!-- Heading -->
        <div class="u-heading-v6-2 g-mb-60">
            <h2 class="u-heading-v6__title g-color-black g-font-weight-600 g-mb-30">
                {{ page }}
            </h2>
            {% if is_granted('edit', page) %}
                <div id="readspeaker_button1" class="rs_skip rsbtn rs_preserve">
                    <a rel="nofollow" class="rsbtn_play" accesskey="L"
                       title="Ecoutez le texte avec ReadSpeaker webReader"
                       href="//app-eu.readspeaker.com/cgi-bin/rsent?customerid=3&amp;lang=fr_fr&amp;voice=Roxane&amp;readid=readerid&amp;url={{ app.request.uri||url_encode }}">
                        <span class="rsbtn_left rsimg rspart"><span
                                    class="rsbtn_text"><span>Ecouter</span></span></span>
                        <span class="rsbtn_right rsimg rsplay rspart"></span>
                    </a>
                </div>
                <p title="Editer" class=" g-pl-90"><a
                            href="{{ path('volontariat_admin_page_edit', {'id':page.id}) }}"><i class="icon-pencil"></i></a>
                </p>
            {% endif %}
            <!--
            <p class=" g-pl-90">The time has come to bring those ideas and plans to life. This is where we really begin to visualize your napkin sketches and make them into beautiful pixels.</p>
           -->
        </div>
        <!-- End Heading -->
        <div class="readerid">
            {{ page.content | raw }}
        </div>

        <hr class="g-brd-gray-light-v4">

        {% include '@Volontariat/page/_images.html.twig' %}

    </section>

{% endblock %}
{% block scripts %}

    <script src="{{ asset('bundles/volontariat/assets/js/components/hs.rating.js') }}"></script>
    <script src="{{ asset('bundles/volontariat/assets/js/components/hs.progress-bar.js') }}"></script>
    <script src="{{ asset('bundles/volontariat/assets/js/components/hs.go-to.js') }}"></script>

    <!-- JS Implementing Plugins -->
    <script src="{{ asset('bundles/volontariat/assets/vendor/fancybox/jquery.fancybox.min.js') }}"></script>
    <!-- JS Unify -->
    <script src="{{ asset('bundles/volontariat/assets/js/components/hs.popup.js') }}">
    </script>

    <script>
        $(document).on('ready', function () {
            // initialization of tabs
            $.HSCore.components.HSTabs.init('[role="tablist"]');

            // initialization of go to
            $.HSCore.components.HSGoTo.init('.js-go-to');

            // initialization of rating
            $.HSCore.components.HSRating.init($('.js-rating'), {
                spacing: 2
            });
        });

        $(window).on('load', function () {
            // initialization of header
            $.HSCore.components.HSHeader.init($('#js-header'));
            $.HSCore.helpers.HSHamburgers.init('.hamburger');

            // initialization of HSMegaMenu component
            $('.js-mega-menu').HSMegaMenu({
                event: 'hover',
                pageContainer: $('.container'),
                breakpoint: 991
            });

            // initialization of horizontal progress bars
            setTimeout(function () { // important in this case
                var horizontalProgressBars = $.HSCore.components.HSProgressBar.init('.js-hr-progress-bar', {
                    direction: 'horizontal',
                    indicatorSelector: '.js-hr-progress-bar-indicator'
                });
            }, 1);
        });

        $(window).on('resize', function () {
            setTimeout(function () {
                $.HSCore.components.HSTabs.init('[role="tablist"]');
            }, 200);
        });

    </script>

    <!-- JS Plugins Init. -->
    <script>
        $(document).on('ready', function () {
            // initialization of popups
            $.HSCore.components.HSPopup.init('.js-fancybox');
        });
    </script>


{% endblock %}
