<hr class="g-brd-gray-light-v4 g-my-15">

<div class="g-py-10">
    <!-- Figure Contacts -->
    <ul class="list-unstyled g-color-gray-dark-v5 g-font-size-13 g-mb-0">
        <li class="g-mb-10">
            <i class="g-pos-rel g-mt-1 mr-2 icon-communication-011 u-line-icon-pro"></i>
            <em class="g-font-style-normal">
                {{ association.city }}
            </em>
        </li>
        {% if association.email %}
            <li class="g-mb-10">
                <i class="g-pos-rel g-mt-1 mr-2 icon-communication-062 u-line-icon-pro"></i>
                <a href="mailto:{{ association.email }}">{{ association.email }}</a>
            </li>
        {% endif %}
        {% if association.phone or association.mobile %}
            <li>
                <i class="g-pos-rel g-top-1 mr-2 icon-electronics-005 u-line-icon-pro"></i>
                <em class="g-font-style-normal">{{ association.phone }} {{ association.mobile }}</em>
            </li>
        {% endif %}
        {% if association.webSite %}
            <li>
                <i class="g-pos-rel g-top-1 mr-2 icon-communication-001 u-line-icon-pro"></i>
                <a href="{{ association.webSite }}">{{ association.webSite }}</a>
            </li>
        {% endif %}
    </ul>
    <!-- End Figure Contacts -->
</div>

{#
<li>
                        <i class="fa fa-map-marker color-green"></i> {{ association.city }}
                    </li>
                    {% if association.webSite %}
                        <li>
                            <i class="fa fa-globe color-green"></i>
                            <a class="linked" href="{{ association.webSite }}">{{ association.webSite }}</a>
                        </li>


                        <li>
                            <i class="fa fa-envelope color-green"></i>
                            <a class="linked" href=""></a>
                        </li>
                    {% endif %}

#}