<div class="col-lg-4">
    <aside class="u-shadow-v11 rounded g-pa-30">
        <!-- Content Header
        <div class="media g-mb-20">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
                {% if association.imageName %}
                    <img class="g-width-40 g-height-40"
                         src="{{ association.imageName | acmarche_volontariat_download_image(association) | imagine_filter('acmarche_volontariat_400_270') }}"
                         alt="{{ association.imageName }}">
                {% else %}
                    <img class="g-width-40 g-height-40"
                         src="{{ asset('bundles/volontariat/assets/img-temp/logos/img1.png') }}"
                         alt="Image Description">
                {% endif %}
            </div>
            <div class="media-body">
                  <span class="d-block">
                      <a class="u-link-v5 g-font-size-18 g-color-gray-dark-v1 g-color-primary--hover" href="">Airbnb Inc.</a>
                    </span>
                <span class="js-rating d-inline-block small g-color-primary g-mr-15" data-rating="4.5"></span>
                <span class="g-color-gray-dark-v5">4713 Reviews</span>
            </div>
        </div>-->
        <!-- End Content Header -->

        <!-- Google Map
        <div id="gMap" class="js-g-map g-min-height-300" data-type="custom" data-lat="40.674" data-lng="-73.946"
             data-zoom="12" data-title="Job Description" data-styles='[
                     ["", "", [{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]],
                     ["", "labels", [{"visibility":"on"}]],
                     ["water", "", [{"color":"#bac6cb"}]]
                   ]' data-pin="true"
             data-pin-icon="{{ asset('bundles/volontariat/assets/img/icons/pin/green.png') }}">
        </div>
        <!-- End Google Map -->

        <hr class="g-brd-gray-light-v4">

        <!-- Contacts -->
        <ul class="list-unstyled mb-0">
            <li class="d-flex align-items-baseline g-mb-12">
                <i class="icon-location-pin g-color-gray-dark-v5 g-mr-10"></i>
                <span>
                    {{ association.address }} {{ association.number }} <br/>
                    {{ association.postalCode }} {{ association.city }}
                </span>
            </li>
            {% if association.phone %}
                <li class="d-flex align-items-baseline g-mb-10">
                    <i class="icon-phone g-color-gray-dark-v5 g-mr-10"></i>
                    <span>{{ association.phone }}</span>
                </li>
            {% endif %}
            {% if association.mobile %}
                <li class="d-flex align-items-baseline g-mb-10">
                    <i class="icon-phone g-color-gray-dark-v5 g-mr-10"></i>
                    <span>{{ association.mobile }}</span>
                </li>
            {% endif %}
            {% if association.email %}
                <li class="d-flex align-items-baseline g-mb-10">
                    <i class="icon-envelope g-color-gray-dark-v5 g-mr-10"></i>
                    <a class="u-link-v5 g-color-main g-color-primary--hover" href="mailto:{{ association.email }}">
                        {{ association.email }}
                    </a>
                </li>
            {% endif %}
            {% if association.webSite %}
                <li class="d-flex align-items-baseline g-mb-10">
                    <i class="icon-globe g-color-gray-dark-v5 g-mr-10"></i>
                    <a class="u-link-v5 g-color-main g-color-primary--hover"
                       href="{{ association.webSite }}">{{ association.webSite }}</a>
                </li>
            {% endif %}
        </ul>
        <!-- End Contacts -->

        <hr class="g-brd-gray-light-v4">
        {% if association.fileName %}

            <hr class="g-brd-gray-light-v4">

            <a href="{{ vich_uploader_asset(association, 'fileFile') }}">
                {% if association.fileDescriptif %} {{ association.fileDescriptif }} {% else %}Télécharger{% endif %}
            </a>
        {% endif %}

        {% include '@Volontariat/association/_contact.html.twig' %}

        <!-- Social Links
        <ul class="list-inline mb-0">
            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title=""
                data-original-title="Facebook">
                <a href="#!">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title=""
                data-original-title="Linkedin">
                <a href="#!">
                    <i class="fa fa-linkedin"></i>
                </a>
            </li>
            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title=""
                data-original-title="Twitter">
                <a href="#!">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title=""
                data-original-title="Dribbble">
                <a href="#!">
                    <i class="fa fa-dribbble"></i>
                </a>
            </li>
        </ul>-->
        <!-- End Social Links -->

        <hr class="g-brd-gray-light-v4">

        <!-- Prograss Bars -->

        <!-- End Prograss Bars -->

        <hr class="g-brd-gray-light-v4">

        <!-- Save or Print  -->

        <!-- End Save or Print  -->


    </aside>
</div>
