{% extends '@Volontariat/base.html.twig' %}

 {% block breadcrumbs %}
     {% include '@Volontariat/base/breadcrumbs.html.twig' with {'title': 'Associations'} %}
 {% endblock %}

{% block body %}
    <section class="container g-pt-100">
        <div class="shortcode-html">
            <div class="row">
                {% for association in associations %}
                    <div class="col-lg-4 g-mb-30"> <!-- Article -->
                        <article class="g-bg-white">
                            <a href="{{ path('volontariat_association_show', {'id':association.id}) }}">
                                <figure class="g-pos-rel">
                                    {% set url = asset('bundles/volontariat/assets/img-temp/400x270/img5.jpg') %}

                                    {% if association.imageName %}
                                        {% set url = association.imageName | acmarche_volontariat_download_image(association) | imagine_filter('acmarche_volontariat_400_270') %}
                                    {% elseif association.firstImage %}
                                        {% set url = association.firstImage.url | imagine_filter('acmarche_volontariat_400_270') %}
                                    {% endif %}
                                    <img class="img-fluid w-100"
                                         src="{{ url }}"
                                         alt="image">
                                    {# <figcaption
                                             class="text-uppercase text-center g-line-height-1_2 g-bg-primary-opacity-0_8 g-color-white g-pos-abs g-top-20 g-px-15 g-py-10">
                                         <strong class="d-block">07</strong>
                                         <hr class="g-brd-white my-1">
                                         <small class="d-block">Jul</small>
                                     </figcaption>
                                     #}
                                </figure>
                            </a>
                            <div class="g-pa-30">
                                <h3 class="h5 g-mb-15">
                                    <a class="u-link-v5 g-color-gray-dark-v2 g-color-primary--hover"
                                       href="{{ path('volontariat_association_show', {'id':association.id}) }}">
                                        {{ association }}
                                    </a>
                                </h3>
                                {% if association.description %}
                                    <p>{{ association.description| slice(0,400) | nl2br  }}</p>
                                {% endif %}

                                {% include '@Volontariat/association/_coordonnee.html.twig' %}

                                <hr class="g-brd-gray-light-v4 g-my-20">

                            </div>
                        </article> <!-- End Article -->
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts %}

{% endblock %}
