{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{{ asset('assets/vendor/icon-hs/style.css') }}">
    <link rel="stylesheet"
          href="{{ asset('assets/vendor/fancybox/jquery.fancybox.min.css') }}">
{% endblock %}

{% block breadcrumbs %}
    {% set url = path('volontariat_association') %}
    {% include 'base/breadcrumbs.html.twig' with {'title': association, 'parent':'Associations', 'parent_url': url} %}
{% endblock %}

{% block body %}

    <!-- Jobs Description -->
    <section class="g-py-100">
        <div class="container">
            <div class="row">
                <!-- Content -->
                <div class="col-lg-8 g-mb-30 g-mb-0--lg">
                    <article class="u-shadow-v11 rounded g-pa-30">
                        <!-- Content Header -->
                        <div class="row">
                            <div class="col-md-9 g-mb-30 g-mb-0--md">
                                <div class="media">
                                    <div class="d-flex align-self-center g-mt-3 g-mr-20">
                                        {% if association.imageName %}
                                            <img src="{{ association.imageName | acmarche_volontariat_download_image(association) | imagine_filter('acmarche_volontariat_400_270') }}"
                                                 class="g-width-40 g-height-40" alt="Image Description">
                                        {% else %}
                                            <!--        <img class="g-width-40 g-height-40"
                                                 src="{{ asset('assets/img-temp/logos/img1.png') }}"
                                                 alt="Image Description">-->
                                        {% endif %}
                                    </div>
                                    <div class="media-body">
                      <span class="d-block g-mb-3">
                          <a class="u-link-v5 g-font-size-18 g-color-gray-dark-v1 g-color-primary--hover"
                             href="">{{ association }}</a>
                        </span>
                                        {% if is_granted('edit', association) %}
                                            <a title="Modifier"
                                               href="{{ path('volontariat_admin_association_show', {'id':association.id}) }}"><i
                                                        class="icon-pencil"></i></a>

                                        {% endif %}
                                        <!--          <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                                    <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> London, UK
                                  </span>
                                                  <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                                    <i class="icon-directions g-pos-rel g-top-1 mr-1"></i> Airbnb Inc.
                                  </span>-->
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- End Content Header -->

                        <hr class="g-brd-gray-light-v4">

                        <!-- Jobs Description -->
                        <h3 class="h5 g-color-gray-dark-v1 g-mb-10">Description</h3>

                            <p>{{ association.description | nl2br }}</p>

                        <!-- End Jobs Description -->

                        <hr class="g-brd-gray-light-v4">

                        {% include 'association/_images.html.twig' %}

                        <hr class="g-brd-gray-light-v4">

                        <!-- Your Tasks -->
                        <h3 class="h5 g-color-gray-dark-v1 g-mb-10">Secteurs</h3>
                        <!--  <div class="g-mb-20">
                              <p>Elementum tincidunt massa, a pulvinar leo ultricies ut. Ut fringilla lectus tellusimp
                                  imperdiet molestie est volutpat at. Sed viverra cursus nibh.</p>
                          </div>-->

                        <div class="row">
                            <div class="col-lg">
                                <ul class="list-unstyled g-mb-12 g-mb-0--md">
                                    {% for secteur in association.secteurs %}
                                    <li class="d-flex align-items-center g-mb-12">
                                        <i class="icon-check d-block g-color-primary g-mr-8"></i>
                                        <span class="d-block">{{ secteur }}</span>
                                    </li>

                                    {% if loop.index == 4 %}
                                </ul>
                            </div>
                            <div class="col-lg">
                                <ul class="list-unstyled mb-0">
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>

                        </div>
                        <!-- End Your Tasks -->

                        <hr class="g-brd-gray-light-v4">

                        <!-- Besoin permanent -->
                        <h3 class="h5 g-color-gray-dark-v1 g-mb-10">Besoin en volontariat permanent</h3>
                        <div class="g-mb-20">
                            {% if association.requirement %}
                                <p>{{ association.requirement | nl2br }}</p>
                            {% else %}
                                <p>De quel type d'aide l'association a besoin de manière régulière, tout au long de
                                    l'année.</p>
                            {% endif %}

                            {% if association.place or association.contact %}
                                <p>
                                    {{ association.contact | nl2br }}
                                    {{ association.place | nl2br }}
                                </p>
                            {% endif %}
                        </div>
                        <!-- End Besoin permanent -->

                        <hr class="g-brd-gray-light-v4">

                        {% include 'association/_besoins.html.twig' %}

                        {% include 'association/_activites.html.twig' %}

                    </article>
                </div>
                <!-- End Content -->

                <!-- Sidebar -->
                {% include 'association/_side.html.twig' %}
                <!-- Sidebar -->
            </div>
        </div>
    </section>
    <!-- End Jobs Description -->

    <hr class="g-brd-gray-light-v4 my-0">

{% endblock %}

{% block footer %}
    {% include 'base/footer_sans_contact.html.twig' %}
{% endblock %}


{% block scripts %}

    <script src="{{ asset('assets/vendor/gmaps/gmaps.min.js') }}"></script>
    <script src="{{ asset('assets/js/components/hs.rating.js') }}"></script>
    <script src="{{ asset('assets/js/components/gmap/hs.map.js') }}"></script>
    <script src="{{ asset('assets/js/components/hs.progress-bar.js') }}"></script>
    <script src="{{ asset('assets/js/components/hs.go-to.js') }}"></script>

    <!-- JS Implementing Plugins -->
    <script src="{{ asset('assets/vendor/fancybox/jquery.fancybox.min.js') }}"></script>
    <!-- JS Unify -->
    <script src="{{ asset('assets/js/components/hs.popup.js') }}">
    </script>

    <script>
        // initialization of google map
        function initMap() {
            $.HSCore.components.HSGMap.init('.js-g-map');
        }

        $(document).on('ready', function () {
            // initialization of tabs
            $.HSCore.components.HSTabs.init('[role="tablist"]');

            // initialization of go to
            $.HSCore.components.HSGoTo.init('.js-go-to');

            // initialization of rating
            $.HSCore.components.HSRating.init($('.js-rating'), {
                spacing: 2
            });
        });

        $(window).on('load', function () {
            // initialization of header
            $.HSCore.components.HSHeader.init($('#js-header'));
            $.HSCore.helpers.HSHamburgers.init('.hamburger');

            // initialization of HSMegaMenu component
            $('.js-mega-menu').HSMegaMenu({
                event: 'hover',
                pageContainer: $('.container'),
                breakpoint: 991
            });

            // initialization of horizontal progress bars
            setTimeout(function () { // important in this case
                var horizontalProgressBars = $.HSCore.components.HSProgressBar.init('.js-hr-progress-bar', {
                    direction: 'horizontal',
                    indicatorSelector: '.js-hr-progress-bar-indicator'
                });
            }, 1);
        });

        $(window).on('resize', function () {
            setTimeout(function () {
                $.HSCore.components.HSTabs.init('[role="tablist"]');
            }, 200);
        });

    </script>

    <!-- JS Plugins Init. -->
    <script>
        $(document).on('ready', function () {
            // initialization of popups
            $.HSCore.components.HSPopup.init('.js-fancybox');
        });
    </script>

    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyAtt1z99GtrHZt_IcnK-wryNsQ30A112J0&callback=initMap"
            async>

    </script>

{% endblock %}