<form method="post" action="{{ path('volontariat_admin_page_image_delete', {'id': page.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ page.id) }}">

    {% for image in images %}
        <div class="pull-left center-block" style="margin: 10px; outline: 1px #28ff3d solid;">
            <p class="text-center">
                <label>
                    <input type="checkbox" name="img[]" value="{{ image.name }}"/>
                </label>
            </p>
            <a href="{{ image.url }}" title="{{ image.name }}" data-gallery>
                <img src="{{ image.url | imagine_filter('acmarche_volontariat_edit_thumb') }}" alt="img"
                     class="img-thumbnail"/>
            </a>
        </div>
    {% endfor %}
    <button type="button" class="btn btn-secondary"
            data-bs-dismiss="modal">Annuler
    </button>
    <button type="submit" class="btn btn-danger">Supprimer l'page</button>
     
</form>