{% extends '@Volontariat/admin/base.html.twig' %}
{% block body -%}

    <div class="card">
        <h3 class="card-header">Changer le mot de passe {{ user }}</h3>
        <div class="card-body">

            <div class="row">
                <div class="col-lg-8">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {{ form_row(form.plainPassword) }}
                    <button type="submit" name="save" class="btn btn-primary my-1 mr-sm-2 mb-3">
                        <i class="fas fa-save"></i> Sauvegarder
                    </button>

                    {{ form_end(form) }}
                </div>
            </div>

            <a href="{{ path('volontariat_admin_user') }}">
                <span class="fas fa-list"></span> Annuler et retour à la liste
            </a>
        </div>
    </div>

{% endblock %}
