<a href="{{ path('volontariat_admin_association_edit', { 'id': association.id }) }}" role="button"
   class="btn btn-primary"><i
            class="fa fa-edit"></i> Editer</a>

<a href="{{ path('volontariat_admin_besoin_new', { 'id': association.id }) }}" role="button"
   class="btn btn-primary"><i
            class="fa fa-plus"></i> Ajouter une annonce</a>

<a href="{{ path('volontariat_admin_image_edit', { 'id': association.id }) }}" role="button"
   class="btn btn-primary"><i class="fa fa-images"></i> Images</a>

<a href="{{ path('volontariat_admin_link_account_association', { 'id': association.id }) }}" role="button"
   class="btn btn-primary"><i
            class="fa fa-link"></i> Associer/dissocier à un utilisateur</a>

<a href="{{ path('volontariat_association_show', { 'slug': association.slug }) }}" role="button"
   class="btn btn-primary" target="apercu"><i class="far fa-eye"></i> Voir sur le site</a>

<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
    <i class="fas fa-trash"></i> Supprimer l'association
</button>

<a href="{{ path('volontariat_admin_association') }}" class="btn btn-primary mt-2" role='button'><i
            class="fa fa-list"></i>
    Retour à la Liste
</a>

<br/>
<br/>