{% extends "@Volontariat/admin/base.html.twig" %}

{% block body -%}

    <div class="card">
        <h3 class="card-header">Liste des {{ associations | length }} associations</h3>
        <div class="card-body">

            {{ include('@Volontariat/admin/search/association.html.twig') }}

            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Localité</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    <th>Géré par</th>
                    <th>Validée</th>
                </tr>
                </thead>
                <tbody>
                {% for association in associations %}
                    <tr>
                        <td>
                            <a href="{{ path('volontariat_admin_association_show', { 'id': association.id }) }}"
                               title="Voir"> {{ association }}
                            </a>
                        </td>
                        <td>{{ association.city }}</td>
                        <td>
                            {{ association.email }}
                        </td>
                        <td>
                            {{ association.phone }} {{ association.mobile }}
                        </td>
                        <td>
                            {{ association.user }}
                        </td>
                        <td>
                            {% if association.valider %}
                                <span class="fas fa-check"></span>
                            {% else %}
                                <span class="text-danger">Non</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
