{% extends '@Volontariat/admin/base.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header">{{ association }}</h3>
        <div class="card-body">

            {% include '@Volontariat/admin/association/actions.html.twig' %}

            <div class="row">
                <div class="col-lg-6">
                    <table class="table table-bordered table-hover">
                        <tbody>
                        <tr>
                            <th>Adresse</th>
                            <td>
                                {{ association.address }}<br/>
                                {{ association.postalCode }} {{ association.city }}
                            </td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>
                                {{ association.email }}
                            </td>
                        </tr>
                        <tr>
                            <th>Site web</th>
                            <td>
                                {{ association.web_site }}
                            </td>
                        </tr>
                        <tr>
                            <th>Téléphone ou mobile</th>
                            <td>
                                {{ association.phone }}
                                {{ association.mobile }}
                            </td>
                        </tr>
                        <tr>
                            <th>Gérer par le compte</th>
                            <td>
                                {% if association.user %}
                                    <a href="{{ path('volontariat_admin_user_show', { 'id': association.user.id }) }}">
                                        {{ association.user }}
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Validée</th>
                            <td>
                                {% if association.valider %}
                                    <span class="fa fa-check"></span>
                                {% else %}
                                    <span class="text-danger">Non</span>
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-6">
                    {% if association.imageName %}
                        <img class="thumbnail"
                             src="{{ association.imageName | acmarche_volontariat_download_image(association) | imagine_filter('acmarche_volontariat_thumb') }}"
                             alt="{{ association.imageName }}">
                    {% endif %}
                </div>
            </div>

            {{ association.description | nl2br }}

            <h4 class="text-success">Besoins</h4>
            {{ association.requirement | nl2br }}

            <h4 class="text-success">Lieu besoins permanents</h4>
            {{ association.place | nl2br }}

            <h4 class="text-success">Contact</h4>
            {{ association.contact | nl2br }}

            {% include '@Volontariat/admin/association/secteurs.html.twig' %}

            {% include '@Volontariat/admin/association/besoins.html.twig' %}

            {% include'@Volontariat/admin/association/images.html.twig' %}
        </div>
        <div class="card-footer">
            <p class="text-muted">
                {{ 'Created' | trans }} {{ association.createdAt|date('d-m-Y H:i:s') }}
                . {{ 'Updated' | trans }} {{ association.updatedAt|date('d-m-Y H:i:s') }}
            </p>
        </div>
    </div>
    {{ include('@Volontariat/admin/association/delete.html.twig') }}

{% endblock %}
