
    <h2 class="h4 g-font-weight-300">Paramètre de sécurité</h2>
    <p class="g-mb-25">Changer votre mot de passe.</p>

    {{ form_start(form_password) }}
    {{ form_errors(form_password) }}
    <!-- Current Password -->
    <div class="form-group row g-mb-25">
        <label class="col-sm-3 col-form-label g-color-gray-dark-v2 g-font-weight-700 text-sm-right g-mb-10">Mot de passe
            actuel
        </label>
        <div class="col-sm-9">
            <div class="input-group g-brd-primary--focus">
                {{ form_widget(form_password.current_password, {'attr': {'placeholder': 'Mot de passe actuel', 'class': 'form-control form-control-md border-right-0 rounded-0 g-py-13 pr-0'}}) }}
                <!-- <input class="form-control form-control-md border-right-0 rounded-0 g-py-13 pr-0" type="password"
                        placeholder="Current password">-->
                <div class="input-group-append">
                        <span class="input-group-text g-bg-white g-color-gray-light-v1 rounded-0"><i
                                    class="icon-lock"></i></span>
                </div>
            </div>
            {{ form_errors(form_password.current_password) }}
        </div>
    </div>
    <!-- End Current Password -->

    <!-- New Password -->
    <div class="form-group row g-mb-25">
        <label class="col-sm-3 col-form-label g-color-gray-dark-v2 g-font-weight-700 text-sm-right g-mb-10">Nouveau mot
            de passe
        </label>
        <div class="col-sm-9">
            <div class="input-group g-brd-primary--focus">
                {{ form_widget(form_password.plainPassword.first, {'attr': {'placeholder': 'Nouveau mot de passe', 'class': 'form-control form-control-md border-right-0 rounded-0 g-py-13 pr-0'}}) }}
                <!--<input class="form-control form-control-md border-right-0 rounded-0 g-py-13 pr-0" type="password"
                       placeholder="New password">-->
                <div class="input-group-append">
                        <span class="input-group-text g-bg-white g-color-gray-light-v1 rounded-0"><i
                                    class="icon-lock"></i></span>
                </div>
                {{ form_errors(form_password.plainPassword.first) }}
            </div>
        </div>
    </div>
    <!-- End New Password -->

    <!-- Verify Password -->
    <div class="form-group row g-mb-25">
        <label class="col-sm-3 col-form-label g-color-gray-dark-v2 g-font-weight-700 text-sm-right g-mb-10">Vérification
        </label>
        <div class="col-sm-9">
            <div class="input-group g-brd-primary--focus">
                {{ form_widget(form_password.plainPassword.second, {'attr': {'placeholder': 'Vérification du mot de passe', 'class': 'form-control form-control-md border-right-0 rounded-0 g-py-13 pr-0'}}) }}
                <!-- <input class="form-control form-control-md border-right-0 rounded-0 g-py-13 pr-0" type="password"
                        placeholder="Verify password"> -->
                <div class="input-group-append">
                        <span class="input-group-text g-bg-white g-color-gray-light-v1 rounded-0"><i
                                    class="icon-lock"></i></span>
                </div>
                {{ form_errors(form_password.plainPassword.second) }}
            </div>
        </div>
    </div>
    <!-- End Verify Password -->

    <hr class="g-brd-gray-light-v4 g-my-25">

    <div class="text-sm-right">
        <a class="btn u-btn-darkgray rounded-0 g-py-12 g-px-25 g-mr-10" href="{{ path('volontariat_dashboard') }}">Annuler</a>
        <input type="submit" class="btn u-btn-primary rounded-0 g-py-12 g-px-25"/>
    </div>
    {{ form_end(form_password) }}