<h2 class="h4 g-font-weight-300">Votre profil</h2>

{{ form_start(form_profil) }}
{{ form_errors(form_profil) }}

<ul class="list-unstyled g-mb-30">
    <!-- Name -->
    <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
        <div class="g-pr-10">
            <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Nom</strong>
            <span class="align-top">
                    {{ form_widget(form_profil.nom, {'attr': {'style': 'display:inline;width:40%;'}}) }}
                {{ form_errors(form_profil.nom) }}
                </span>
        </div>
        <span>
                        <i class="icon-pencil g-color-gray-dark-v5 g-color-primary--hover g-cursor-pointer g-pos-rel g-top-1"></i>
                      </span>
    </li>
    <!-- End Name -->

    <!-- Your ID -->
    <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
        <div class="g-pr-10">
            <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Prénom</strong>
            <span class="align-top">
                {{ form_widget(form_profil.prenom, {'attr': {'style': 'display:inline;width:40%;'}}) }}
                {{ form_errors(form_profil.prenom) }}
                </span>
        </div>
        <span>
                        <i class="icon-pencil g-color-gray-dark-v5 g-color-primary--hover g-cursor-pointer g-pos-rel g-top-1"></i>
                      </span>
    </li>
    <!-- End Your ID -->

    <!-- Company Name -->
     <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
         <div class="g-pr-10">
             <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Adresse
                 email</strong>
             <span class="align-top">
                 {{ form_widget(form_profil.email, {'attr': {'style': 'display:inline;'}}) }}
                 {{ form_errors(form_profil.email) }}
                 </span>
         </div>
         <span>
                         <i class="icon-pencil g-color-gray-dark-v5 g-color-primary--hover g-cursor-pointer g-pos-rel g-top-1"></i>
                       </span>
     </li>
    <!-- End Company Name -->

    <!-- Company Name -->
    <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
        <div class="g-pr-10">
            <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">
                {{ form_label(form_profil.accord) }}
            </strong>
            <span class="align-top">
                {{ form_widget(form_profil.accord, {'attr': {'style': 'display:inline;'}}) }}
                {{ form_errors(form_profil.accord) }}
                </span>
        </div>
        <span>
                        <i class="icon-pencil g-color-gray-dark-v5 g-color-primary--hover g-cursor-pointer g-pos-rel g-top-1"></i>
                      </span>
    </li>
    <!-- End Company Name -->


</ul>

<div class="text-sm-right">
    <a class="btn u-btn-darkgray rounded-0 g-py-12 g-px-25 g-mr-10"
       href="{{ path('volontariat_dashboard') }}">Annuler</a>
    <input type="submit" value="Sauvegarder" class="btn u-btn-primary rounded-0 g-py-12 g-px-25"/>
</div>
{{ form_end(form_profil) }}
