<!-- Blog Grid Blocks -->
<div class="g-bg-secondary">
    <div class="container g-pt-100 g-pb-70">
        <div class="u-heading-v6-2 text-center g-mb-60"><!--
            <span class="d-block g-color-gray-dark-v4 g-font-weight-600 g-font-size-13 text-uppercase">Follow the</span>-->
            <h2 class="h1 u-heading-v6__title g-brd-black g-color-black g-font-weight-600 mb-0">Actualités</h2>
        </div>

        <div class="masonry-grid row">
            <div class="masonry-grid-sizer col-sm-1"></div>

            {% for activite in activites %}
                <div class="masonry-grid-item col-sm-6 col-lg-4 g-mb-30">
                    <!-- Blog Grid Modern Blocks -->
                    <article class="u-shadow-v21 u-shadow-v21--hover g-transition-0_3">
                        <a href="{{ path('volontariat_activite_show', {'id': activite.id}) }}">
                            {% if activite.firstImage %}
                                <img class="img-fluid w-100 g-rounded-top-5"
                                     src="{{ activite.firstImage | imagine_filter('acmarche_volontariat_400_270') }}"
                                     alt="Image Description">
                            {% else %}
                                <img class="img-fluid w-100 g-rounded-top-5"
                                     src="{{ asset('bundles/volontariat/assets/img-temp/400x270/img1.jpg') }}"
                                     alt="Image Description">
                            {% endif %}
                        </a>
                        <div class="g-bg-white g-pa-30 g-rounded-bottom-5">
                            <ul class="list-inline g-color-gray-dark-v4 g-font-weight-600 g-font-size-12">
                                <li class="list-inline-item mr-0">{{ activite.association }}</li>

                            </ul>

                            <h2 class="h5 g-color-black g-font-weight-600 mb-4">
                                <a class="u-link-v5 g-color-black g-color-primary--hover g-cursor-pointer"
                                   href="{{ path('volontariat_activite_show', {'id': activite.id}) }}">
                                    {{ activite }}
                                </a>
                            </h2>

                        </div>
                    </article>
                    <!-- End Blog Grid Modern Blocks -->
                </div>
            {% endfor %}

            <!-- PAGES EN ACTU -->

            {% for page in pages %}
                <div class="masonry-grid-item col-sm-6 col-lg-4 g-mb-30">
                    <!-- Blog Grid Modern Blocks -->
                    <article class="u-shadow-v21 u-shadow-v21--hover g-transition-0_3">
                        <a href="{{ path('volontariat_page_show', {'slug': page.slug}) }}">
                            {% if page.firstImage %}
                                <img class="img-fluid w-100 g-rounded-top-5"
                                     src="{{ page.firstImage | imagine_filter('acmarche_volontariat_400_270') }}"
                                     alt="Image Description">
                            {% else %}
                                <img class="img-fluid w-100 g-rounded-top-5"
                                     src="{{ asset('bundles/volontariat/assets/img-temp/400x270/img1.jpg') }}"
                                     alt="Image Description">
                            {% endif %}
                        </a>
                        <div class="g-bg-white g-pa-30 g-rounded-bottom-5">
                            <ul class="list-inline g-color-gray-dark-v4 g-font-weight-600 g-font-size-12">
                                <li class="list-inline-item mr-0">{{ page }}</li>

                            </ul>

                            <h2 class="h5 g-color-black g-font-weight-600 mb-4">
                                <a class="u-link-v5 g-color-black g-color-primary--hover g-cursor-pointer"
                                   href="{{ path('volontariat_page_show', {'slug': page.slug}) }}">
                                    {{ page }}
                                </a>
                            </h2>

                        </div>
                    </article>
                    <!-- End Blog Grid Modern Blocks -->
                </div>
            {% endfor %}

            <!-- END PAGES -->


        </div>
    </div>
</div>
<!-- End Blog Grid Blocks -->
