
<!-- Cube Portfolio Blocks - Content -->
<div class="container g-mb-70">
    <div class="cbp" data-controls="#filterControls" data-animation="quicksand" data-x-gap="5" data-y-gap="5"
         data-media-queries='[
               {"width": 1500, "cols": 4},
               {"width": 1100, "cols": 4},
               {"width": 800, "cols": 3},
               {"width": 480, "cols": 2},
               {"width": 300, "cols": 1}
             ]'>


        <!-- Cube Portfolio Blocks - Item -->
        <div class="cbp-item identity">
            <div class="u-block-hover g-parent">
                <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_5 g-transition--ease-in-out"
                     src="{{ asset('bundles/volontariat/img/pexels-photo-265702.png') | imagine_filter('acmarche_volontariat_400_270') }}"
                     alt="Image description">
                <div class="d-flex w-100 h-100 u-block-hover__additional--fade u-block-hover__additional--fade-in g-bg-bluegray-opacity-0_5 opacity-0 g-opacity-1--parent-hover g-pos-abs g-top-0 g-left-0 g-transition-0_3 g-transition--ease-in g-pa-20">
                    <div class="d-flex align-items-start flex-column mb-auto">
                        <h3 class="h5 g-color-white g-font-weight-600 mb-1">Associations</h3>
                        <!--      <span class="d-block g-color-white-opacity-0_8">Identity</span>-->
                    </div>
                    <ul class="align-items-end flex-column list-inline mt-auto ml-auto mb-0">
                        <li class="list-inline-item">
                            <a class="u-icon-v2 u-icon-size--xs g-brd-white g-color-black g-bg-white rounded-circle"
                               href="{{ path('volontariat_association') }}">
                                <i class="icon-media-058 u-line-icon-pro" title="Lire"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Cube Portfolio Blocks - Item -->

        <!-- Cube Portfolio Blocks - Item -->
        <div class="cbp-item graphic">
            <div class="u-block-hover g-parent">
                <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_5 g-transition--ease-in-out"
                     src="{{ asset('bundles/volontariat/img/volunteers-2653990_1920.png') | imagine_filter('acmarche_volontariat_400_270') }}"
                     alt="Image description">
                <div class="d-flex w-100 h-100 u-block-hover__additional--fade u-block-hover__additional--fade-in g-bg-bluegray-opacity-0_5 opacity-0 g-opacity-1--parent-hover g-pos-abs g-top-0 g-left-0 g-transition-0_3 g-transition--ease-in g-pa-20">
                    <div class="d-flex align-items-start flex-column mb-auto">
                        <h3 class="h5 g-color-white g-font-weight-600 mb-1">Volontaires</h3>
                        <!--      <span class="d-block g-color-white-opacity-0_8">Graphic</span>-->
                    </div>
                    <ul class="align-items-end flex-column list-inline mt-auto ml-auto mb-0">
                        <li class="list-inline-item">
                            <a class="u-icon-v2 u-icon-size--xs g-brd-white g-color-black g-bg-white rounded-circle"
                               href="{{ path('volontariat_volontaire') }}">
                                <i class="icon-media-058 u-line-icon-pro" title="Lire"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Cube Portfolio Blocks - Item -->

        <!-- Cube Portfolio Blocks - Item -->
        <div class="cbp-item design">
            <div class="u-block-hover g-parent">
                <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_5 g-transition--ease-in-out"
                     src="{{ asset('bundles/volontariat/img/volunteers-2653980_1920.png') | imagine_filter('acmarche_volontariat_400_270') }}"
                     alt="Image description">
                <div class="d-flex w-100 h-100 u-block-hover__additional--fade u-block-hover__additional--fade-in g-bg-bluegray-opacity-0_5 opacity-0 g-opacity-1--parent-hover g-pos-abs g-top-0 g-left-0 g-transition-0_3 g-transition--ease-in g-pa-20">
                    <div class="d-flex align-items-start flex-column mb-auto">
                        <h3 class="h5 g-color-white g-font-weight-600 mb-1">Galerie</h3>
                        <!-- <span class="d-block g-color-white-opacity-0_8">Design</span>-->
                    </div>
                    <ul class="align-items-end flex-column list-inline mt-auto ml-auto mb-0">
                        <li class="list-inline-item">
                            <a class="u-icon-v2 u-icon-size--xs g-brd-white g-color-black g-bg-white rounded-circle"
                               href="{{ path('volontariat_page_show', {'slug':'galerie'}) }}">
                                <i class="icon-media-058 u-line-icon-pro" title="Lire"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Cube Portfolio Blocks - Item -->

        <!-- Cube Portfolio Blocks - Item -->
        <div class="cbp-item graphic identity">
            <div class="u-block-hover g-parent">
                <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_5 g-transition--ease-in-out"
                     src="{{ asset('bundles/volontariat/img/door-784775_1920.jpg') | imagine_filter('acmarche_volontariat_400_270') }}"
                     alt="Image description">
                <div class="d-flex w-100 h-100 u-block-hover__additional--fade u-block-hover__additional--fade-in g-bg-bluegray-opacity-0_5 opacity-0 g-opacity-1--parent-hover g-pos-abs g-top-0 g-left-0 g-transition-0_3 g-transition--ease-in g-pa-20">
                    <div class="d-flex align-items-start flex-column mb-auto">
                        <h3 class="h5 g-color-white g-font-weight-600 mb-1">Besoins en volontariat</h3>
                    </div>
                    <ul class="align-items-end flex-column list-inline mt-auto ml-auto mb-0">
                        <li class="list-inline-item">
                            <a class="u-icon-v2 u-icon-size--xs g-brd-white g-color-black g-bg-white rounded-circle"
                               href="{{ path('volontariat_besoin') }}">
                                <i class="icon-media-058 u-line-icon-pro" title="Lire"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Cube Portfolio Blocks - Item -->

        <div  style="margin-top: 1em;"></div>
        <!-- Cube Portfolio Blocks - Item -->
        <div class="cbp-item identity design">
            <div class="u-block-hover g-parent">
                <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_5 g-transition--ease-in-out"
                     src="{{ asset('bundles/volontariat/img/loi.jpg') | imagine_filter('acmarche_volontariat_400_270') }}"
                     alt="Image description">
                <div class="d-flex w-100 h-100 u-block-hover__additional--fade u-block-hover__additional--fade-in g-bg-bluegray-opacity-0_5 opacity-0 g-opacity-1--parent-hover g-pos-abs g-top-0 g-left-0 g-transition-0_3 g-transition--ease-in g-pa-20">
                    <div class="d-flex align-items-start flex-column mb-auto">
                        <h3 class="h5 g-color-white g-font-weight-600 mb-1">Que dit la loi ?</h3>
                        <span class="d-block g-color-white-opacity-0_8"></span>
                    </div>
                    <ul class="align-items-end flex-column list-inline mt-auto ml-auto mb-0">
                        <li class="list-inline-item">
                            <a class="u-icon-v2 u-icon-size--xs g-brd-white g-color-black g-bg-white rounded-circle"
                               href="{{ path('volontariat_page_show', {'slug':'loi'}) }}">
                                <i class="icon-media-058 u-line-icon-pro" title="Lire"></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <!-- End Cube Portfolio Blocks - Item -->

        <!-- Cube Portfolio Blocks - Item -->
        <div class="cbp-item design">
            <div class="u-block-hover g-parent">
                <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_5 g-transition--ease-in-out"
                     src="{{ asset('bundles/volontariat/img/lienz.jpg')| imagine_filter('acmarche_volontariat_400_270') }}"
                     alt="Image description">
                <div class="d-flex w-100 h-100 u-block-hover__additional--fade u-block-hover__additional--fade-in g-bg-bluegray-opacity-0_5 opacity-0 g-opacity-1--parent-hover g-pos-abs g-top-0 g-left-0 g-transition-0_3 g-transition--ease-in g-pa-20">
                    <div class="d-flex align-items-start flex-column mb-auto">
                        <h3 class="h5 g-color-white g-font-weight-600 mb-1">Liens utiles</h3>
                        <span class="d-block g-color-white-opacity-0_8"></span>
                    </div>
                    <ul class="align-items-end flex-column list-inline mt-auto ml-auto mb-0">
                        <li class="list-inline-item">
                            <a class="u-icon-v2 u-icon-size--xs g-brd-white g-color-black g-bg-white rounded-circle"
                               href="{{ path('volontariat_page_show', {'slug':'lien'}) }}">
                                <i class="icon-media-058 u-line-icon-pro" title="Lire"></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <!-- End Cube Portfolio Blocks - Item -->

        <!-- Cube Portfolio Blocks - Item -->
        <div class="cbp-item graphic identity">
            <div class="u-block-hover g-parent">
                <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_5 g-transition--ease-in-out"
                     src="{{ asset('bundles/volontariat/img/temoignage.jpg') | imagine_filter('acmarche_volontariat_400_270') }}"
                     alt="Image description">
                <div class="d-flex w-100 h-100 u-block-hover__additional--fade u-block-hover__additional--fade-in g-bg-bluegray-opacity-0_5 opacity-0 g-opacity-1--parent-hover g-pos-abs g-top-0 g-left-0 g-transition-0_3 g-transition--ease-in g-pa-20">
                    <div class="d-flex align-items-start flex-column mb-auto">
                        <h3 class="h5 g-color-white g-font-weight-600 mb-1">Témoignages</h3>
                        <span class="d-block g-color-white-opacity-0_8"></span>
                    </div>
                    <ul class="align-items-end flex-column list-inline mt-auto ml-auto mb-0">
                        <li class="list-inline-item">
                            <a class="u-icon-v2 u-icon-size--xs g-brd-white g-color-black g-bg-white rounded-circle"
                               href="{{ path('volontariat_temoignage') }}">
                                <i class="icon-media-058 u-line-icon-pro" title="Lire"></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <!-- End Cube Portfolio Blocks - Item -->

        <!-- Cube Portfolio Blocks - Item -->
        <div class="cbp-item graphic">
            <div class="u-block-hover g-parent">
                <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_5 g-transition--ease-in-out"
                     src="{{ asset('bundles/volontariat/img/presse.png') | imagine_filter('acmarche_volontariat_400_270') }}"
                     alt="Image description">
                <div class="d-flex w-100 h-100 u-block-hover__additional--fade u-block-hover__additional--fade-in g-bg-bluegray-opacity-0_5 opacity-0 g-opacity-1--parent-hover g-pos-abs g-top-0 g-left-0 g-transition-0_3 g-transition--ease-in g-pa-20">
                    <div class="d-flex align-items-start flex-column mb-auto">
                        <h3 class="h5 g-color-white g-font-weight-600 mb-1">Revue de presse</h3>
                        <!--      <span class="d-block g-color-white-opacity-0_8">Graphic</span>-->
                    </div>
                    <ul class="align-items-end flex-column list-inline mt-auto ml-auto mb-0">
                        <li class="list-inline-item">
                            <a class="u-icon-v2 u-icon-size--xs g-brd-white g-color-black g-bg-white rounded-circle"
                               href="{{ path('volontariat_page_show', {'slug':'presse'}) }}">
                                <i class="icon-media-058 u-line-icon-pro" title="Lire"></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <!-- End Cube Portfolio Blocks - Item -->

    </div>
</div>
<!-- End Cube Portfolio Blocks - Content -->
