<div class="magazine-news">
    <div class="row">
        <div class="col-md-6">
            <div class="magazine-news-img">
                <a href="{{ path('volontariat_actu_show') }}">
                    <img class="img-responsive"
                         src="{{ asset('bundles/volontariat/news/croix-rouge-journee.jpg') | imagine_filter('acmarche_volontariat_news_thumb') }}"
                         alt="img">
                </a>
                <span class="magazine-badge label-red">Evènement</span>
            </div>
            <h3><a href="{{ path('volontariat_actu_show') }}">Journée de sensibilisation par la Croix Rouge</a></h3>
            <!-- <div class="by-author">
                 <strong>By Jack Villo</strong>
                 <span>/ September 19, 2013</span>
             </div>-->
            <p>
                Le droit international humanitaire peut s’apprendre dès le plus jeune âge. La Croix-Rouge de Belgique
                mène un programme de sensibilisation afin de rendre ce domaine plus accessible aux jeunes
            </p>
        </div>
        <div class="col-md-6">
            <div class="magazine-news-img">
                <a href="{{ path('volontariat_actu_show') }}"><img class="img-responsive"
                                 src="{{ asset('bundles/volontariat/news/resto.jpg') | imagine_filter('acmarche_volontariat_news_thumb') }}"
                                 alt=""></a>
                <span class="magazine-badge label-blue">Event</span>
            </div>
            <h3><a href="{{ path('volontariat_actu_show') }}">Le repas du carnaval des restos du coeur sur la place aux foires.</a></h3>
            <!-- <div class="by-author">
                 <strong>By Admin</strong>
                 <span>/ September 19, 2013</span>
             </div>-->
            <p>Au menu ce jour-là, bonne humeur avec le parrain de la journée Jean-Luc Fonck,
                un délicieux repas chaud concocté par le resto du coeur de Marcge, un peu de musique, quelques pas de
                danse et des cadeaux pour tous en finale
                ...</p>
        </div>
    </div>
</div>
<!-- End Magazine News -->

<div class="margin-bottom-35">
    <hr class="hr-md">
</div>

<!-- Magazine News -->
<div class="magazine-news">
    <div class="row">
        <div class="col-md-6">
            <div class="magazine-news-img">
                <a href="{{ path('volontariat_actu_show') }}"><img class="img-responsive"
                                 src="{{ asset('bundles/volontariat/news/FeteVoisin-5342.jpg') | imagine_filter('acmarche_volontariat_news_thumb') }}"
                                 alt=""></a>
                <span class="magazine-badge label-yellow">Social</span>
            </div>
            <h3><a href="{{ path('volontariat_actu_show') }}">Grand fête des voisins, besoin d'un coup de main</a></h3>
            <!--  <div class="by-author">
                  <strong>By Jack Villo</strong>
                  <span>/ September 19, 2013</span>
              </div>-->
            <p>Des millions de voisins se rencontrent pour boire un verre, manger un morceau et échanger. Le but de
                l'opération ? Apprendre à mieux se connaître....</p>
        </div>
        <div class="col-md-6">
            <div class="magazine-news-img">
                <a href="{{ path('volontariat_actu_show') }}"><img class="img-responsive"
                                 src="{{ asset('bundles/volontariat/news/croix-rouge-sang.jpg') | imagine_filter('acmarche_volontariat_news_thumb') }}"
                                 alt=""></a>
                <span class="magazine-badge label-green">Relax</span>
            </div>
            <h3><a href="{{ path('volontariat_actu_show') }}">Nous avons besoin de sang</a></h3>
            <!--    <div class="by-author">
                    <strong>By Admin</strong>
                    <span>/ September 19, 2013</span>
                </div>-->
            <p>Chaque jour, de nouvelles situations surgissent où votre sang peut sauver une vie humaine. Accidentés de
                la route, leucémiques, hémophiles, grand brûlés...</p>
        </div>
    </div>
</div>
<!-- End Magazine News -->

<div class="margin-bottom-35">
    <hr class="hr-md">
</div>

<!-- Magazine News -->
<div class="magazine-news">
    <div class="row">
        <div class="col-md-6">
            <div class="magazine-news-img">
                <a href="{{ path('volontariat_actu_show') }}"><img class="img-responsive"
                                 src="{{ asset('bundles/volontariat/news/hedree.jpg') | imagine_filter('acmarche_volontariat_news_thumb') }}"
                                 alt=""></a>
                <span class="magazine-badge label-purple">Repas</span>
            </div>
            <h3><a href="{{ path('volontariat_actu_show') }}">Balade gastronomique ‘La Hédrée gourmande’ a besoin de vous</a></h3>

            <p>Parmi les crêtes de Waha, son église romane, à faire en famille, entre amis pour passer
                une journée inoubliable......</p>
        </div>
        <div class="col-md-6">
            <div class="magazine-news-img">
                <a href="{{ path('volontariat_actu_show') }}"><img class="img-responsive" src="{{ asset('bundles/volontariat/news/velo.jpg') | imagine_filter('acmarche_volontariat_news_thumb') }}" alt=""></a>
                <span class="magazine-badge label-dark-blue">Sport</span>
            </div>
            <h3><a href="{{ path('volontariat_actu_show') }}">24 heures vélo de Marche en Famenne </a></h3>

            <p>Super week-end, consacré au vélo cette fois, mais au nom et profit de l'association. ...</p>
        </div>
    </div>
</div>
<!-- End Magazine News
