{% extends '@Volontariat/base.html.twig' %}

{% block breadcrumbs %}
    {% include '@Volontariat/dashboard/_breadcrumb.html.twig' with {'title': 'Besoins en volontariat'} %}
{% endblock %}

{% block body -%}
    <section class="container g-py-100">
        <!-- Heading -->
        <div class="u-heading-v6-2 g-mb-60">
            <h2 class="u-heading-v6__title g-color-black g-font-weight-600 g-mb-30">
                Liste de vos besoins en volontariat occasionnels
            </h2>
            <p class=" g-pl-90">Encodez ici vos besoins en volontariat.</p>
        </div>
        <!-- End Heading -->
        <div class="mb-5">
            <a class="btn btn-md u-btn-primary g-font-size-default g-rounded-25 g-px-30 g-py-12"
               href="{{ path('volontariat_dashboard') }}">
                Retour au tableau de bord</a>
        </div>

        <div class="mb-5">
            <a class="btn btn-md u-btn-primary g-font-size-default g-rounded-25 g-px-30 g-py-12"
               href="{{ path('volontariat_backend_besoin_new', {'id':association.id}) }}">
                Ajouter un besion</a>
        </div>

        {% if besoins | length > 0 %}
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Titre</th>
                    <th>Date de diffusion</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                </tr>
                </thead>
                <tbody>
                {% for besoin in besoins %}
                    <tr>
                        <td>
                            <a href="{{ path('volontariat_besoin_show', { 'id': besoin.id }) }}">{{ besoin }}</a>
                        </td>
                        <td>
                            {% if besoin.dateBegin %}
                                Du {{ besoin.dateBegin | date('d-mY') }}
                            {% endif %}
                            {% if besoin.dateEnd %}
                                au  {{ besoin.dateEnd | date('d-mY') }}
                            {% endif %}
                        </td>
                        <td>
                            <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-purple--hover"
                               href="{{ path('volontariat_backend_besoin_edit', {'id': besoin.id}) }}">
                                <i class="icon-pencil"></i>
                            </a>
                        </td>
                        <td>
                            <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-purple--hover"
                               href="#!"
                               data-toggle="modal"
                               data-besoinnom="{{ besoin.name }}"
                               data-besoinid="{{ besoin.id }}"
                               data-target="#besoinModal">
                                <i class="icon-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Aucun</p>
        {% endif %}
    </section>
    {% include '@Volontariat/backend/besoin/_delete.html.twig' %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $('#besoinModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var nom = button.data('besoinnom'); // Extract info from data-* attributes
            var cmdid = button.data('besoinid'); // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this);
         //   console.log(modal.find('modal-body-nom').value);
            modal.find('#modal-body-nom').text(nom);
            modal.find('#modal-body-input').val(cmdid)
        })
    </script>
{% endblock %}
