{% extends 'admin/base.html.twig' %}

{% block body %}

    <h3>{{ applicant }}</h3>

    {{ include('admin/applicant/actions.html.twig') }}

    <br/>
    <table class="table table-bordered table-hover">
        <tbody>
        <tr>
            <th>Localité</th>
            <td>
                {{ applicant.city }}
            </td>
        </tr>
        <tr>
            <th>Téléphone</th>
            <td>
                {{ applicant.phone }}
            </td>
        </tr>
        <tr>
            <th>Email</th>
            <td>
                {{ applicant.email }}
            </td>
        </tr>
        <tr>
            <th>Demandé le </th>
            <td>
                {{ applicant.createdAt | date('d-m-Y H:i') }}
            </td>
        </tr>
        </tbody>
    </table>

    <h3>Sa demande</h3>
    {{ applicant.description | nl2br }}

    <br />
    <br />
    <h3>Notes</h3>
    {{ applicant.notes | nl2br }}

    <br />
    <br />
    {{ include( 'admin/applicant/delete.html.twig') }}

{% endblock %}
