{% extends '@Volontariat/admin/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/volontariat/blueimp/css/blueimp-gallery.min.css') }}">
{% endblock %}

{% block body %}


    <h3>{{ activite }} de
        <a href="{{ path('volontariat_admin_association_show', { 'id': activite.association.id }) }}"
           title="Voir">
            {{ activite.association }}
        </a>
    </h3>

    {{ include('@Volontariat/admin/activite/actions.html.twig') }}
    <br/>  <br/>
    {{ activite.content | raw }}
    <br/>  <br/>

    {% include'@Volontariat/admin/association/gallery-controls.html.twig' %}

    {% include'@Volontariat/admin/page/images.html.twig' %}

    {{ include( '@Volontariat/admin/activite/delete.html.twig') }}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/volontariat/blueimp/js/blueimp-gallery.min.js') }}"></script>
    <script src="{{ asset('bundles/volontariat/js/gallery.js') }}"></script>
{% endblock %}
