{% extends '@Volontariat/admin/base.html.twig' %}

{% block body %}

    <h3>{{ besoin }}</h3>

    {{ include('@Volontariat/admin/besoin/actions.html.twig') }}

    <br/>
    <table class="table table-bordered table-hover">
        <tbody>
        <tr>
            <th>Association</th>
            <td>
                <a href="{{ path('volontariat_admin_association_show', { 'id': besoin.association.id }) }}"
                   title="Voir">
                    {{ besoin.association }}
                </a>
            </td>
        </tr>
        <tr>
            <th>Début de diffusion</th>
            <td>
                {% if besoin.dateBegin %}
                    {{ besoin.dateBegin | date('d-m-Y') }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Fin de diffusion</th>
            <td>
                {% if besoin.dateEnd %}
                    {{ besoin.dateEnd | date('d-m-Y') }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Descriptif des besoins</th>
            <td>
                {{ besoin.requirement | nl2br }}
            </td>
        </tr>
        <tr>
            <th>Période</th>
            <td>
                {{ besoin.period | nl2br }}
            </td>
        </tr>
        <tr>
            <th>Lieu de prestation</th>
            <td>
                {{ besoin.place | nl2br }}
            </td>
        </tr>
        </tbody>
    </table>

    {{ include( '@Volontariat/admin/besoin/delete.html.twig') }}

{% endblock %}
