{% extends '@Volontariat/admin/base.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Associer {{ object }} à un compte utilisateur</h3>
        <div class="card-body">

            <div class="alert alert-info">Pour dissocier, laissez ce champ vide</div>

            <div class="row">
                <div class="col-lg-8">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {{ form_row(form.user) }}
                    <button type="submit" name="save" class="btn btn-primary my-1 mr-sm-2 mb-3">
                        <i class="ti ti-device-floppy"></i> Sauvegarder
                    </button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

