<div class="hidden-print">
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.name) }}
    <div class="col-12">
        <button class="btn btn-primary mr-1" type="submit"><i class="ti ti-search"></i> Rechercher</button>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>
