{{ form_start(form, { 'attr': {'class': 'row row-cols-lg-auto g-3 align-items-center hidden-print'}}) }}
{{ form_errors(form) }}

{{ form_row(form.nom, {label_attr: {class: 'sr-only'}, attr:{'class': 'my-1 mr-sm-2'} }) }}
{{ form_row(form.city, {label_attr: {class: 'sr-only'}, attr:{'class': 'my-1 mr-sm-2'} }) }}
{{ form_row(form.createdAt, {label_attr: {class: 'sr-only'}, attr:{'class': 'my-1 mr-sm-2'} }) }}

<div class="col-12">
    <button class="btn btn-primary mr-1" type="submit"><i class="ti ti-search"></i> Rechercher</button>
</div>
{{ form_rest(form) }}
{{ form_end(form) }}

<a href="{{ path('volontariat_admin_message_new', { 'query': 'volontaire' }) }}" role="button"
   class="btn btn-primary"><i
            class="ti ti-send"></i> Envoyer un message</a>

<a title="Exporter en Excel" href="{{ path('volontariat_admin_volontaire_xls') }}"
   class="btn btn-outline-warning btn-xs" role="button">
    <i class="ti ti-file-spreadsheet"></i>
</a>

<br/><br/>