{% extends "@Volontariat/admin/base.html.twig" %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Nouveau message pour {{ destinataires|length }} {{ forYou }}s</h3>
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.sujet) }}
            {{ form_row(form.contenu) }}
            <div class="row">
                <div class="col-6">
                    {{ form_row(form.file) }}
                </div>
                <div class="col-6">
                    {{ form_row(form.urlToken) }}
                </div>
            </div>

            <button type="submit" name="save" class="btn btn-primary my-1 mr-sm-2 mb-3">
                <i class="ti ti-send"></i> Envoyer
            </button>

            {{ form_end(form) }}

        </div>
        <div class="card-footer">
            <a href="{{ path('volontariat_admin_home') }}">
                <span class="ti ti-list"></span> Annuler
            </a>
        </div>
    </div>
{% endblock %}
