<li class="nav-item">
    <a class="nav-link"
       href="{{ path('volontariat_admin_volontaire') }}">Les volontaires</a>
</li>
<li class="nav-item">
    <a class="nav-link"
       href="{{ path('volontariat_admin_association') }}">Les associations</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ path('volontariat_admin_page') }}">
        Les pages
    </a>
</li>
<li class="nav-item">
    <a class="nav-link"
       href="{{ path('volontariat_admin_utilisateur') }}">Les utilisateurs</a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="/" id="dropdown10" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">Ajouter... <b class="caret"></b></a>
    <ul class="dropdown-menu" aria-labelledby="dropdown02">
        <li><a class="dropdown-item" href="{{ path('volontariat_admin_volontaire_new') }}">Un volontaire</a></li>
        <li><a class="dropdown-item" href="{{ path('volontariat_admin_association_new') }}">Une association</a></li>
    </ul>
</li>

