<li class="nav-item">
    <a class="nav-link"
       href="{{ path('volontariat_admin_volontaire') }}">Les volontaires</a>
</li>
<li class="nav-item">
    <a class="nav-link"
       href="{{ path('volontariat_admin_association') }}">Les associations</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ path('volontariat_admin_page') }}">
        Les pages
    </a>
</li>
<li class="nav-item">
    <a class="nav-link"
       href="{{ path('volontariat_admin_user') }}">Les utilisateurs</a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-cog"></i> Paramètres...</a>
    <ul class="dropdown-menu" aria-labelledby="dropdown03">
        <li>
            <a class="dropdown-item" href="{{ path('volontariat_admin_volontaire_new') }}">
                Ajouter un volontaire
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="{{ path('volontariat_admin_association_new') }}">
                ajouter une association
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="{{ path('volontariat_token_index') }}">
                Les tokens
            </a>
        </li>
    </ul>
</li>
