<li class="nav-item{% if action == 'volontariat_admin_volontaire' %} active{% endif %}">
    <a class="nav-link" href="{{ path('volontariat_admin_volontaire') }}">
        Les volontaires
    </a>
</li>
<li class="nav-item{% if action == 'volontariat_admin_applicant' %} active{% endif %}">
    <a class="nav-link" href="{{ path('volontariat_admin_applicant') }}">
        Les demandeurs
    </a>
</li>
<li class="nav-item{% if action == 'volontariat_admin_association' %} active{% endif %}">
    <a class="nav-link" href="{{ path('volontariat_admin_association') }}">
        Les associations
    </a>
</li>
<li class="nav-item{% if action == 'volontariat_admin_page' %} active{% endif %}">
    <a class="nav-link" href="{{ path('volontariat_admin_page') }}">
        Les pages
    </a>
</li>
<li class="nav-item{% if action == 'volontariat_admin_utilisateur' %} active{% endif %}">
    <a class="nav-link" href="{{ path('volontariat_admin_utilisateur') }}">
        Les utilisateurs
    </a>
</li>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown10" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">Ajouter... <b class="caret"></b></a>
    <div class="dropdown-menu" aria-labelledby="dropdown10">
        <a class="dropdown-item" href="{{ path('volontariat_admin_volontaire_new') }}">Un volontaire</a>
        <a class="dropdown-item" href="{{ path('volontariat_admin_association_new') }}">Une association</a>
        <a class="dropdown-item" href="{{ path('volontariat_admin_applicant_new') }}">Un demandeur</a>
    </div>
</li>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown10" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">Paramètres... <b class="caret"></b></a>
    <div class="dropdown-menu" aria-labelledby="dropdown10">
        <a class="dropdown-item" href="{{ path('volontariat_admin_valider') }}">A valider...</a>
        <a class="dropdown-item" href="{{ path('volontariat_admin_message_new') }}">Nouveau message</a>
        <a class="dropdown-item" href="{{ path('volontariat_admin_besoin') }}"> Besoins occasionnels </a>
        <a class="dropdown-item" href="{{ path('volontariat_admin_secteur') }}">Les secteurs</a>
        <a class="dropdown-item" href="{{ path('volontariat_admin_temoignage') }}">Les témoignages</a>
        <a class="dropdown-item" href="{{ path('volontariat_admin_vehicule') }}">Les Véhicules</a>
    </div>
</li>



