{% extends '@Volontariat/admin/base.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Gestion des images pour {{ activite }}</h3>
        <div class="card-body">

            <a href="{{ path('volontariat_admin_activite_show', { 'id': activite.id }) }}" class="btn btn-primary"
               role="button"><i class="fas fa-list"></i> Retour à l' activité</a>

            {{ form_start(form, { 'attr': {'id': 'formdrop','class': 'well dropzone'}}) }}
            {{ form_errors(form) }}
            {{ form_end(form) }}

            {% if images | length > 0 %}
                {% include "@Volontariat/admin/imagePage/_images.html.twig" %}
            {% else %}
                <p class="text-warning">Aucune image actuellement</p>
            {% endif %}

        </div>
    </div>

{% endblock %}