
<div class=" g2-pt-100 g-pb-50">
</div>

{{ form_start(form_delete) }}
{{ form_errors(form_delete) }}
{{ form_row(form_delete.submit) }}

<div class="row">
    {% for image in images %}
        <div class="col-3 g-mb-30">
            <p class="text-center">
                <label>
                    <input type="checkbox" name="img[]" value="{{ image.name }}"/>
                </label>
            </p>
            <a href="{{ image.url }}" title="{{ image.name }}" data-gallery2>
                <img src="{{ image.url | imagine_filter('acmarche_volontariat_edit_thumb') }}" alt="img"
                     class="img-thumbnail img-fluid"/>
            </a>
        </div>
    {% endfor %}
</div>

{{ form_end(form_delete) }}