{% extends '@Volontariat/admin/base.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header"> Gestion des <strong>images/docs</strong> pour {{ page }}</h3>

        <div class="card-body">
            {{ form_start(form, { 'attr': {'id': 'formdrop','class': 'mt-3 dropzone', 'data-controller': 'dropzone'}}) }}
            {{ form_widget(form, { label: false }) }}

            <button type="submit" class="btn btn-primary"><i class="ti ti-image-up"></i> Envoyer les images</button>
            {{ form_end(form) }}

            {% if images | length > 0 %}
                {% include "@Volontariat/admin/imagePage/_images.html.twig" %}
            {% endif %}
        </div>
        <div class="card-footer">
            <a href="{{ path('volontariat_admin_page_show', { 'id': page.id }) }}" class="btn btn-primary"
               role="button"><i class="ti ti-list"></i> Retour à la page</a>
        </div>
    </div>


{% endblock %}
