{% for entity in associations %}
<!-- Clients Block-->
<div class="row clients-page">
    <div class="col-md-2">
        {% if entity.imageName %}
        <img class="img-responsive hover-effect"
             src="{{ entity.imageName | acmarche_volontariat_download_image("association") | imagine_filter('acmarche_volontariat_thumb') }}"
        alt="{{ entity.imageName }}">
        {% endif %}
    </div>
    <div class="col-md-10">
        <h3>
            <a href="{{ path('volontariat_association_show', {'id':entity.id}) }}">
                {{ entity }}
            </a>
        </h3>
        <ul class="list-inline">
            <li><i class="fa fa-map-marker color-green"></i> {{ entity.city }}</li>
            {% if entity.webSite %}
            <li>
                <i class="fa fa-globe color-green"></i>
                <a class="linked" href="{{ entity.webSite }}">{{ entity.webSite }}</a>
            </li>
            {% endif %}
            {% if entity.email %}
            <li>
                <i class="fa fa-envelope color-green"></i>
                <a class="linked" href="mailto:{{ entity.email }}">{{ entity.email }}</a>
            </li>
            {% endif %}
        </ul>
        <p>{{ entity.description | nl2br }}</p>
    </div>
</div>
<!-- End Clients Block-->
{% endfor %}
