{% for entity in volontaires %}
    <!-- Clients Block-->
    <div class="row clients-page">
        <div class="col-md-2">
            {% if entity.imageName %}
                <img class="img-responsive hover-effect"
                     src="{{ entity.imageName | acmarche_volontariat_download_image("volontaire") | imagine_filter('acmarche_volontariat_thumb') }}"
                     alt="{{ entity.imageName }}">
            {% endif %}
        </div>
        <div class="col-md-10">
            <h3>
                <a href="{{ path('volontariat_volontaire_show', {'id':entity.id}) }}">
                    {{ entity }}
                </a>
            </h3>
            <ul class="list-inline">
                <li><i class="fa fa-map-marker color-green"></i> {{ entity.city }}</li>
                <li>
                    <i class="fa fa-phone color-green"></i>
                    {{ entity.phone }}
                    {{ entity.mobile }}
                </li>
                {% if entity.user %}
                    <li>
                        <i class="fa fa-envelope color-green"></i>
                        <a class="linked" href="mailto:  {{ entity.user.email }}">{{ entity.user.email }}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <!-- End Clients Block-->
{% endfor %}
