{{ form_start(form) }}
{{ form_errors(form) }}

<div class="row">
    <div class="col-md-6">

        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.name) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.surname) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.postalCode) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.city) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.mobile) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.birthyear) }}
            </div>
        </div>

        {{ form_row(form.description) }}

        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.email) }}
            </div>
        </div>
        {{ form_row(form.image) }}
    </div>

    <div class="col-md-6">
        {{ form_row(form.secteurs) }}
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        {{ form_row(form.notification_new_association) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.notification_message_association) }}
    </div>
</div>

{{ form_row(form.inactif) }}
<button type="submit" name="save" class="btn btn-primary my-1 mr-sm-2 mb-3">
    <i class="fas fa-save"></i> Sauvegarder
</button>
{{ form_end(form) }}