{{ form_start(form) }}
{{ form_errors(form) }}

<div class="form-row">
    <div class="col-md-6">

        <div class="form-row">
            <div class="col-md-4">
                {{ form_row(form.civility) }}
            </div>

            <div class="col-md-4">
                {{ form_row(form.name) }}
            </div>

            <div class="col-md-4">
                {{ form_row(form.surname) }}
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6">
                {{ form_row(form.address) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.number) }}
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6">
                {{ form_row(form.postalCode) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.city) }}
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6">
                {{ form_row(form.phone) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.mobile) }}
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6">
                {{ form_row(form.fax) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.birthday) }}
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6">
                {{ form_row(form.known_by) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.description) }}
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6">
                {{ form_row(form.email) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.job) }}
            </div>
        </div>

        {{ form_row(form.availability) }}
        {{ form_row(form.image) }}
    </div>

    <div class="col-md-6">
        {{ form_row(form.vehicules) }}
        {{ form_row(form.secteurs) }}
        {{ form_row(form.secteur) }}
    </div>
</div>
<button type="submit" name="save" class="btn btn-primary my-1 mr-sm-2 mb-3">
    <i class="fas fa-save"></i> Sauvegarder
</button>
{{ form_end(form) }}