{% extends "@Volontariat/admin/base.html.twig" %}
{% block title %}Volontaires{% endblock %}

{% block body -%}

    <div class="card">
        <h3 class="card-header">Liste des {{ volontaires | length }} volontaires</h3>
        <div class="card-body">

            {{ include('@Volontariat/admin/search/volontaire.html.twig') }}

            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Localité</th>
                    <th>Email</th>
                    <th>Inscrit le</th>
                    <th>Géré par</th>
                </tr>
                </thead>
                <tbody>
                {% for volontaire in volontaires %}
                    <tr>
                        <td>
                            <a href="{{ path('volontariat_admin_volontaire_show', { 'id': volontaire.id }) }}"
                               title="Voir"> {{ volontaire.name }} {{ volontaire.surname }}
                            </a>
                        </td>
                        <td>{{ volontaire.city }}</td>
                        <td>
                            {% if volontaire.user %}
                                {{ volontaire.user.email }}
                            {% endif %}
                        </td>
                        <td>
                            {{ volontaire.createdAt|date("d-m-Y") }}
                        </td>
                        <td>
                            {{ volontaire.user }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
