{% extends '@Volontariat/admin/base.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header">{{ volontaire }}</h3>
        <div class="card-body">

            {{ include('@Volontariat/admin/volontaire/actions.html.twig') }}

            <div class="row">
                <div class="col-6">
                    <table class="table table-bordered table-hover">
                        <tbody>
                        <tr>
                            <th>Adresse</th>
                            <td>
                                {{ volontaire.address }}<br/>
                                {{ volontaire.postalCode }} {{ volontaire.city }}
                            </td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>
                                {% if volontaire.user %}
                                    {{ volontaire.user.email }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Téléphone ou mobile</th>
                            <td>
                                {{ volontaire.phone }}
                                {{ volontaire.mobile }}
                            </td>
                        </tr>
                        <tr>
                            <th>Fax</th>
                            <td>
                                {{ volontaire.fax }}
                            </td>
                        </tr>
                        <tr>
                            <th>Né le</th>
                            <td>
                                {% if volontaire.birthday %}
                                    {{ volontaire.birthday|date('d-m-Y') }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Job</th>
                            <td>
                                {{ volontaire.job }}
                            </td>
                        </tr>
                        <tr>
                            <th>Disponibilité</th>
                            <td>
                                {{ volontaire.availability }}
                            </td>
                        </tr>
                        <tr>
                            <th>Véhicule(s)</th>
                            <td>
                                {{ volontaire.vehicules | join(',') }}
                            </td>
                        </tr>
                        <tr>
                            <th>Gérer par le compte</th>
                            <td>
                                {% if volontaire.user %}
                                    <a href="{{ path('volontariat_admin_user_show', { 'id': volontaire.user.id }) }}">
                                        {{ volontaire.user }}
                                    </a>
                                    {{ form(dissocier_form) }}
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-6">
                    {% include '@Volontariat/admin/volontaire/secteurs.html.twig' %}
                </div>

            </div>

            {% if volontaire.photoName %}
                <img class="thumbnail"
                     src="{{ vich_uploader_asset(volontaire, 'photo') | imagine_filter('acmarche_volontariat_thumb') }}"
                     alt="{{ volontaire.photoName }}">
            {% endif %}

            {% if volontaire.description %}
                <p>{{ volontaire.description | nl2br }}</p>
            {% endif %}
        </div>
        <div class="card-footer">
            <p class="text-muted">
                {{ 'Created' | trans }} {{ volontaire.createdAt|date('d-m-Y H:i:s') }}
                . {{ 'Updated' | trans }} {{ volontaire.updatedAt|date('d-m-Y H:i:s') }}
            </p>
        </div>
    </div>
    {{ include('@Volontariat/admin/volontaire/delete.html.twig') }}

{% endblock %}
