{% extends 'base.html.twig' %}
{% block scriptshead %}
    <script src='https://www.google.com/recaptcha/api.js?render=6LdeyngUAAAAAAy-OhSIf61eJRF-BXshxcF5QpPL'></script>
{% endblock %}

{% block body -%}
    <section class="container g-py-100">
        <!-- Heading -->
        <div class="u-heading-v6-2 g-mb-60">
            <h2 class="u-heading-v6__title g-color-black g-font-weight-600 g-mb-30">
                Reférencer l'association : {{ association }}
            </h2>

            <div class="alert alert-info">
                Le volontariat peut-il intéresser vos partenaires, vos connaissances ?<br />
                Alors, n’hésitez pas à référencer une association pontentielle
            </div>
        </div>
        <!-- End Heading -->

        {{ form_start(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.froms) }}
        {{ form_row(form.destinataires) }}
        {{ form_row(form.contenu) }}
        <input type="hidden" name="g-recaptcha-response" id="g-recaptcha-response" value="">
        {{ form_end(form) }}

    </section>

{% endblock %}
{% block scripts %}
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('{{ siteKey }}', {action: 'homepage'})
                .then(function (token) {
                    $("#g-recaptcha-response").val(token);

                });
        });
    </script>
{% endblock %}