{{ form_start(form, { 'attr': {'class': 'form-inline'}}) }}
{{ form_errors(form) }}

<div class="form-group">

    <div class="input-group">
        <div class="input-group-addon"><span class="glyphicon glyphicon-filter"></span></div>
        {{ form_widget(form.nom) }}
    </div>

    <div class="input-group">
        <div class="input-group-addon"><span class="glyphicon glyphicon-filter"></span></div>
        {{ form_widget(form.secteur) }}
    </div>
</div>
<br /><br />
<div class="form-group">
    <div class="input-group">
        <div class="input-group-addon"><span class="glyphicon glyphicon-filter"></span></div>
        {{ form_widget(form.vehicule) }}
    </div>

    <div class="input-group">
        <div class="input-group-addon"><span class="glyphicon glyphicon-filter"></span></div>
        {{ form_widget(form.city) }}
    </div>

    <div class="input-group">
        {{ form_row(form.submit) }}
    </div>

    <div class="input-group">
        {{ form_row(form.raz) }}
    </div>
</div>
{{ form_end(form) }}
<br/>