{% extends 'base.html.twig' %}

{% block stylesheets %}

{% endblock %}

 {% block breadcrumbs %}
     {% include 'base/breadcrumbs.html.twig' with {'title': 'Rechercher des volontaires'} %}
 {% endblock %}

{% block body %}
    <section class="container g-pt-20">

        <div class="alert fade show g-brd-around g-brd-gray-light-v3 rounded-0" role="alert">
            <button type="button" class="close u-alert-close--light g-ml-10 g-mt-1" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>

            <div class="media">
                <div class="d-flex g-mr-10">
                            <span class="u-icon-v3 u-icon-size--sm g-bg-lightred g-color-white g-rounded-50x">
                              <i class="icon-envelope"></i>
                            </span>
                </div>
                <div class="media-body">
                    <div class="d-flex justify-content-between">

                    </div>
                    <p class="m-0 g-font-size-14">Effectuez une recherche et vous pourrez envoyer un message à l'ensemble des volontaires.</p>
                </div>
            </div>
        </div>

        {{ form_start(search_form,{'attr': {'class':'g-brd-around g-brd-gray-light-v4 g-pa-30 g-mb-30'}}) }}
        {{ form_errors(search_form) }}
        <div class="form-inline">
            <label class="sr-only" for="inlineFormInputName2">Name</label>
            {{ form_widget(search_form.nom, {'attr': {'class':'rounded-0 form-control-md mr-sm-3 mb-3 mb-lg-0'}}) }}
            <label class="mr-sm-3 mb-3 mb-lg-0" for="inlineFormCustomSelectPref">Secteurs</label>
            {{ form_widget(search_form.secteurs, {'attr': {'class':'custom-select mb-3'}}) }}
            <label class="sr-only" for="inlineFormInputGroupUsername2">Localité</label>
            {{ form_widget(search_form.city, {'attr': {'class':'custom-select mb-3'}}) }}
            <label class="sr-only" for="inlineFormInputGroupUsername2">Véhicule</label>
            {{ form_widget(search_form.vehicule, {'attr': {'class':'custom-select mb-3'}}) }}
        </div>
        {{ form_end(search_form) }}

        {% if search and volontaires | length > 0 %}
            <p>
                <a href="{{ path('volontariat_backend_message_new') }}" class="btn btn-info">
                    Envoyer un message aux {{ volontaires | length }} volontaires trouvés
                </a>
            </p>
            <div class="clearfix"></div>
        {% endif %}
        <div class="row g-mb-40">
            {% for volontaire in volontaires %}
                <div class="col-md-4 g-mb-30 g-mb-0--md">
                    <!-- Figure -->
                    <figure class="g-bg-white g-brd-around g-brd-gray-light-v4 g-brd-cyan--hover g-transition-0_2 text-center">
                        <div class="g-py-40 g-px-20">
                            <!-- Figure Image -->
                            {% if volontaire.imageName %}
                                <img class="g-width-100 g-height-100 rounded-circle g-mb-20"
                                     src="{{ volontaire.imageName | acmarche_volontariat_download_image(volontaire) | imagine_filter('acmarche_volontariat_thumb') }}"
                                     alt="Image Description">
                            {% else %}

                            {% endif %}
                            <!-- Figure Image -->

                            <!-- Figure Info -->
                            <h4 class="h5 g-mb-5"><a
                                        href="{{ path('volontariat_volontaire_show', {'id': volontaire.id}) }}">{{ volontaire }}</a>
                            </h4>
                            <div class="d-block">
                      <span class="g-color-cyan g-font-size-default g-mr-3">
                       <i class="icon-location-pin"></i>
                      </span>
                                <em class="g-color-gray-dark-v4 g-font-style-normal g-font-size-default">{{ volontaire.city }}</em>
                            </div>
                            <!-- End Figure Info -->
                        </div>

                        <hr class="g-brd-gray-light-v4 g-my-0">

                        <!-- Figure List -->
                        <ul class="row list-inline g-py-20 g-ma-0">
                            <li class="col g-brd-right g-brd-gray-light-v4">
                                <!--       <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-cyan--hover"
                                       href="#!">
                                        <i class="icon-speech"></i>
                                    </a> -->
                            </li>
                            <li class="col g-brd-right g-brd-gray-light-v4">
                                <!--       <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-red--hover"
                                       href="#!">
                                        <i class="icon-envelope-letter"></i>
                                    </a> -->
                            </li>
                            <li class="col">
                                <!--      <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-purple--hover"
                                      href="#!">
                                       <i class="icon-screen-smartphone"></i>
                                   </a> -->
                            </li>
                        </ul>
                        <!-- End Figure List -->
                    </figure>
                    <!-- End Figure -->
                </div>
            {% else %}
                <p>Aucun volontaire trouvé</p>
            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block scripts %}

{% endblock %}