{% extends '@Volontariat/base.html.twig' %}
{% block title %}
    Détail d'un volontaire
{% endblock %}
{% block body %}
    <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow">
        <div class="px-4 py-5 sm:px-6">
            <h3 class="mt-6 text-lg font-semibold leading-8 tracking-tight text-gray-900 hover:text-gray-600">
                {{ volontaire.surname }}  {{ volontaire.name }} de {{ volontaire.city }}
            </h3>
        </div>
    </div>
    <div class="overflow-hidden bg-white shadow sm:rounded-lg">
        <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
            <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">Secteurs</dt>
                <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                    <ul role="list" class="divide-y divide-gray-200 rounded-md border border-gray-200">
                        {% for secteur in volontaire.secteurs %}
                            <li class="flex items-center justify-between py-3 pl-3 pr-4 text-sm">
                                <div class="flex w-0 flex-1 items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 flex-shrink-0 text-gray-400"
                                         viewBox="0 0 24 24" width="24" height="24">
                                        <path fill="none" d="M0 0h24v24H0z"/>
                                        <path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm-.997-4L6.76 11.757l1.414-1.414 2.829 2.829 5.656-5.657 1.415 1.414L11.003 16z"/>
                                    </svg>
                                    <span class="ml-2 w-0 flex-1 truncate">
                                        <a href="{{ path('volontariat_secteur_show', {'id': secteur.id}) }}">{{ secteur.name }}</a>
                                    </span>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </dd>
            </div>
        </div>
          <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
            <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">Associations ayant choisi les mêmes secteurs</dt>
                <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                    <ul role="list" class="divide-y divide-gray-200 rounded-md border border-gray-200">
                        {% for association in associations %}
                            <li class="flex items-center justify-between py-3 pl-3 pr-4 text-sm">
                                <div class="flex w-0 flex-1 items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 flex-shrink-0 text-gray-400"
                                         viewBox="0 0 24 24" width="24" height="24">
                                        <path fill="none" d="M0 0h24v24H0z"/>
                                        <path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm-.997-4L6.76 11.757l1.414-1.414 2.829 2.829 5.656-5.657 1.415 1.414L11.003 16z"/>
                                    </svg>
                                    <span class="ml-2 w-0 flex-1 truncate">
                                        <a href="{{ path('volontariat_association_show', {'slug': association.slug}) }}">{{ association.name }}</a>
                                    </span>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </dd>
            </div>
        </div>
    </div>
{% endblock %}


