{% extends '@Volontariat/base.html.twig' %}
{% block title %}Besoins en volontariat{% endblock %}
{% block body %}
    <div class="overflow-hidden bg-white shadow sm:rounded-md">
        <div class="md:flex md:items-center md:justify-between">
            <div class="min-w-0 flex-1">
                <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">
                    Les dernières annonces
                </h2>
            </div>
        </div>
        <div class="border-b border-gray-200 bg-white px-4 py-5 sm:px-6">
            <p class="mt-1 text-2xl text-gray-500 font-bold">
                Les associations ont besoin de vous !
            </p>
        </div>
        <div class="px-4 sm:px-6 lg:px-8">
            <div class="mt-8 flow-root">
                <div class="">
                    <div class="space-y-4">
                        {% for besoin in besoins %}
                            <div class="bg-white shadow px-4 py-5 sm:px-6 rounded-lg">
                                <h3 class="text-xl leading-6 font-medium">
                                    <a href="{{ path('volontariat_besoin_show', {'id': besoin.id}) }}"
                                       class="hover:underline">
                                        {{ besoin.name }}
                                    </a>
                                </h3>
                                <div class="mt-2 max-w-xl text-sm text-gray-500">
                                    <h4 class="text-lg leading-6 font-medium text-gray-900">{{ besoin.association }}</h4>
                                    <p>
                                        {% if besoin.dateBegin %}
                                            Du {{ besoin.dateBegin | date('d-m-Y') }}
                                        {% endif %}
                                        {% if besoin.dateEnd %}
                                            au {{ besoin.dateEnd | date('d-m-Y') }}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
