{% extends '@Volontariat/base.html.twig' %}

{% block body -%}
    <section class="container g-py-100">
        <!-- Heading -->
        <div class="u-heading-v6-2 g-mb-60">
            <h2 class="u-heading-v6__title g-color-black g-font-weight-600 g-mb-30">
                Liste des besoins en volontariat occasionnels
            </h2>
            <p class=" g-pl-90">Les besoins sont exprimés par les associations.</p>
        </div>
        <!-- End Heading -->

        {% if besoins | length > 0 %}
            <table class="table table-bordered u-table--v2">
                <thead class="text-uppercase g-letter-spacing-1">
                <tr>
                    <th class="g-font-weight-300 g-color-black">Intitulé</th>
                    <th class="g-font-weight-300 g-color-black">Date</th>
                    <th class="g-font-weight-300 g-color-black">Association</th>
                </tr>
                </thead>
                <tbody>
                {% for besoin in besoins %}
                    <tr>
                        <td class="align-middle text-nowrap">
                            <a href="{{ path('volontariat_besoin_show', { 'id': besoin.id }) }}">{{ besoin }}</a>
                        </td>
                        <td class="align-middle text-nowrap">
                            {% if besoin.dateBegin %}
                                Du {{ besoin.dateBegin | date('d-m-Y') }}
                            {% endif %}
                            {% if besoin.dateEnd %}
                                au  {{ besoin.dateEnd | date('d-m-Y') }}
                            {% endif %}
                        </td>
                        <td class="align-middle text-nowrap">
                                <a href="{{ path('volontariat_association_show', { 'id': besoin.association.id }) }}">
                                    {{ besoin.association }}
                                </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Aucun</p>
        {% endif %}
    </section>
{% endblock %}
