{% extends '@Volontariat/base.html.twig' %}
{% block title %}Besoins en volontariat{% endblock %}
{% block body %}
    <div class="overflow-hidden bg-white shadow sm:rounded-md">
        <div class="md:flex md:items-center md:justify-between">
            <div class="min-w-0 flex-1">
                <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">
                    Les petites annonces de volontariat
                </h2>
            </div>
        </div>
        <div class="border-b border-gray-200 bg-white px-4 py-5 sm:px-6">
            <p class="mt-1 text-sm text-gray-500">
                Les associations ont besoin de vous pour :
            </p>
        </div>
        <div class="px-4 sm:px-6 lg:px-8">
            <div class="mt-8 flow-root">
                <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                        <table class="min-w-full divide-y divide-gray-300">
                            <tbody class="divide-y divide-gray-200">
                            {% for besoin in besoins %}
                                <tr>
                                    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">
                                        <a href="{{ path('volontariat_besoin_show', {'id': besoin.id}) }}">
                                            {{ besoin.name }}
                                        </a>
                                    </td>
                                    <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">
                                        {% if besoin.dateBegin %}
                                            Du {{ besoin.dateBegin | date('d-m-Y') }}
                                        {% endif %}
                                        {% if besoin.dateEnd %}
                                            au  {{ besoin.dateEnd | date('d-m-Y') }}
                                        {% endif %}
                                    </td>
                                    <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">
                                        {{ besoin.association }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}