{% extends '@Volontariat/emails/basic.html.twig' %}
{% block content %}

    <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow prose prose-slate">
        <div class="px-4 py-5 sm:px-6">
            <h2 class="text-lg text-green-default font-bold">Nouvelle demande d'une association</h2>
        </div>
        <div class="px-4 py-5 sm:p-6">

            <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">
                {{ besoin }}
            </h2>
            <div class="border-b border-gray-200 bg-white px-4 py-5 sm:px-6">
                <p class="mt-1  text-gray-500">
                    {{ besoin.requirement|nl2br }}
                </p>
            </div>

            <p class="m-3">
                Pour l'association <a
                        href="{{ path('volontariat_association_show',{'slug': association.slug}) }}">{{ association }}</a>
            </p>

            <h4 class="text-lg text-green-default font-bold mt-3">Quand ?</h4>
            {% if besoin.dateBegin %}
                Du {{ besoin.dateBegin | date('d-m-Y') }}
            {% endif %}

            {% if besoin.dateEnd %}
                au {{ besoin.dateEnd | date('d-m-Y') }}
            {% endif %}

            {% if besoin.period %}
                <h4 class="text-lg text-green-default font-bold mt-3">Période</h4>
                {{ besoin.period | nl2br }}
            {% endif %}

            {% if besoin.place %}
                <h4 class="text-lg text-green-default font-bold mt-3">Lieu de prestation</h4>
                {{ besoin.place | nl2br }}
            {% endif %}

            {% if url %}
                <a href="{{ url }}" class="block mt-4 m-5">
                    Me connecter à la plate-forme et gérer mes préférences
                </a>
            {% endif %}

            {% include '@AcMarcheVolontariat/emails/_footer.html.twig' %}

        </div>
    </div>
{% endblock %}
