{% extends '@Volontariat/emails/basic.html.twig' %}
{% block content %}

    <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow prose prose-slate">
        <div class="px-4 py-5 sm:px-6">
            <h2 class="text-lg text-green-default font-bold">Bonjour {{ volontaire.surname }} {{ volontaire.name }}</h2>
        </div>
        <div class="px-4 py-5 sm:p-6">

            <p class="my-5 mb-3">Voici le message qui vous est destiné :</p>
            <p class="my-5 mb-3">{{ data.content|nl2br }}</p>

            <table class="min-w-full divide-y divide-gray-300">
                <tr>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left  font-semibold text-gray-900 sm:pl-0">
                       Son courriel
                    </th>
                    <td class="py-3.5 pl-4 pr-3">{{ data.email }}</td>
                </tr>
                <tr>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left  font-semibold text-gray-900 sm:pl-0">
                        Nom
                    </th>
                    <td class="py-3.5 pl-4 pr-3">{{ data.name }} {{ data.surname }}</td>
                </tr>
            </table>

            {% include '@Volontariat/emails/_footer.html.twig' %}

        </div>
    </div>
{% endblock %}
