<div class="col-lg-3 g-mb-50 g-mb-0--lg">
    <!-- User Image -->
    {#<div class="u-block-hover g-pos-rel">
        <figure>
            <img class="img-fluid w-100 u-block-hover__main--zoom-v1"
                 src="{{ asset('bundles/volontariat/assets/img-temp/400x450/img5.jpg') }}"
                 alt="Image Description">
        </figure>

        <!-- Figure Caption -->
        <figcaption class="u-block-hover__additional--fade g-bg-black-opacity-0_5 g-pa-30">
            <div class="u-block-hover__additional--fade u-block-hover__additional--fade-up g-flex-middle">
                <!-- Figure Social Icons -->
                <ul class="list-inline text-center g-flex-middle-item--bottom g-mb-20">
                    <li class="list-inline-item align-middle g-mx-7">
                        <a class="u-icon-v1 u-icon-size--md g-color-white" href="#!">
                            <i class="icon-note u-line-icon-pro"></i>
                        </a>
                    </li>
                    <li class="list-inline-item align-middle g-mx-7">
                        <a class="u-icon-v1 u-icon-size--md g-color-white" href="#!">
                            <i class="icon-notebook u-line-icon-pro"></i>
                        </a>
                    </li>
                    <li class="list-inline-item align-middle g-mx-7">
                        <a class="u-icon-v1 u-icon-size--md g-color-white" href="#!">
                            <i class="icon-settings u-line-icon-pro"></i>
                        </a>
                    </li>
                </ul>
                <!-- End Figure Social Icons -->
            </div>
        </figcaption>
        <!-- End Figure Caption -->

        <!-- User Info -->
        <span class="g-pos-abs g-top-20 g-left-0">
                  <a class="btn btn-sm u-btn-primary rounded-0" href="#!">{{ app.user.prenom }} {{ app.user.nom }}</a>
             <!--     <small class="d-block g-bg-black g-color-white g-pa-5">Project Manager</small>-->
                </span>
        <!-- End User Info -->
    </div>#}
    <!-- User Image -->

    <!-- Sidebar Navigation -->
    <div class="list-group list-group-border-0 g-mb-40">


        <!-- Overall -->
        <a href="{{ path('volontariat_dashboard') }}"
           class="list-group-item list-group-item-action justify-content-between  {% if action == 'volontariat_dashboard' %}active{% endif %}">
            <span><i class="icon-home g-pos-rel g-top-1 g-mr-8"></i> Accueil</span>
        </a>
        <!-- End Overall -->

        {% if is_granted('ROLE_VOLONTARIAT_ADMIN') %}
            <a href="{{ path('volontariat_admin_home') }}"
               class="list-group-item list-group-item-action justify-content-between {% if action == 'volontariat_admin_home' %}active{% endif %}">
                <span><i class="icon-layers g-pos-rel g-top-1 g-mr-8"></i> Administration</span>
            </a>
        {% endif %}

         <a href="{{ path('volontariat_backend_volontaire_index') }}"
           class="list-group-item list-group-item-action justify-content-between {% if action == 'volontariat_backend_volontaire_index' %}active{% endif %}">
            <span><i class="icon-settings g-pos-rel g-top-1 g-mr-8"></i> Ma fiche volontaire</span>
        </a>

         <a href="{{ path('volontariat_backend_association_index') }}"
           class="list-group-item list-group-item-action justify-content-between {% if action == 'volontariat_backend_association_index' %}active{% endif %}">
            <span><i class="icon-settings g-pos-rel g-top-1 g-mr-8"></i> Mon association</span>
        </a>

        <a href="{{ path('volontariat_backend_temoignage') }}"
           class="list-group-item list-group-item-action justify-content-between {% if action == 'volontariat_backend_temoignage' or action == 'volontariat_compte_password' %}active{% endif %}">
            <span><i class="icon-speech g-pos-rel g-top-1 g-mr-8"></i> Mes témoignages</span>
        </a>

        <a href="{{ path('volontariat_compte_home') }}"
           class="list-group-item list-group-item-action justify-content-between {% if action == 'volontariat_compte_home' or action == 'volontariat_compte_password' %}active{% endif %}">
            <span><i class="icon-settings g-pos-rel g-top-1 g-mr-8"></i> Compte</span>
        </a>

        <a href="{{ path('volontariat_user_change_password') }}"
           class="list-group-item list-group-item-action justify-content-between {% if action == 'volontariat_user_change_password' or action == 'volontariat_compte_password' %}active{% endif %}">
            <span><i class="icon-settings g-pos-rel g-top-1 g-mr-8"></i> Mot de passe</span>
        </a>

        <!-- Profile -->
        <a href="{{ path('volontariat_backend_utilisateur_delete') }}"
           class="list-group-item list-group-item-action justify-content-between  {% if action == 'volontariat_backend_utilisateur_delete' %}active{% endif %}">
            <span><i class="icon-settings g-pos-rel g-top-1 g-mr-8"></i> Suppression</span>
        </a>
        <!-- End Profile -->


        <!-- History -->
        <a href="{{ path('app_logout') }}"
           class="list-group-item list-group-item-action justify-content-between">
            <span><i class="icon-logout g-pos-rel g-top-1 g-mr-8"></i> Se déconnecter</span>
        </a>
        <!-- End History -->

        <!-- Settings -->

        <!-- End Settings -->
    </div>
    <!-- End Sidebar Navigation -->


</div>
