<div class="card border-0 g-mb-40">
    <!-- Panel Header -->
    <div class="card-header d-flex align-items-center justify-content-between g-bg-gray-light-v5 border-0 g-mb-15">
        <h3 class="h6 mb-0">
            <i class="icon-heart g-pos-rel g-top-1 g-mr-5"></i> Ma fiche volontaire
        </h3>
        <div class="dropdown g-mb-10 g-mb-0--md">
                  <span class="d-block g-color-primary--hover g-cursor-pointer g-mr-minus-5 g-pa-5"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="icon-options-vertical g-pos-rel g-top-1"></i>
                    </span>
            <div class="dropdown-menu dropdown-menu-right rounded-0 g-mt-10">
                <a class="dropdown-item g-px-10"
                   href="{{ path('volontariat_backend_volontaire_new') }}">
                    <i class="icon-layers g-font-size-12 g-color-gray-dark-v5 g-mr-5"></i>
                    Ajouter
                </a>
                <!--      <a class="dropdown-item g-px-10" href="#!">
                          <i class="icon-wallet g-font-size-12 g-color-gray-dark-v5 g-mr-5"></i>
                          Supprimer
                      </a>
                      <a class="dropdown-item g-px-10" href="#!">
                          <i class="icon-fire g-font-size-12 g-color-gray-dark-v5 g-mr-5"></i>
                          Reports
                      </a>
                      <a class="dropdown-item g-px-10" href="#!">
                          <i class="icon-settings g-font-size-12 g-color-gray-dark-v5 g-mr-5"></i>
                          Users Setting
                      </a>

                      <div class="dropdown-divider"></div>

                      <a class="dropdown-item g-px-10" href="#!">
                          <i class="icon-plus g-font-size-12 g-color-gray-dark-v5 g-mr-5"></i>
                          View More
                      </a>-->
            </div>
        </div>
    </div>
    <!-- End Panel Header -->

    <!-- Panel Body -->
    <div class="card-block g-pa-0">
        <div class="row">
            {% for volontaire in volontaires %}
                <div class="col-md-4 g-mb-30 g-mb-0--md">
                    <!-- Figure -->
                    <figure class="g-bg-white g-brd-around g-brd-gray-light-v4 g-brd-cyan--hover g-transition-0_2 text-center">
                        <div class="g-py-40 g-px-20">
                            <!-- Figure Image -->
                            {% if volontaire.imageName %}
                                <img class="g-width-100 g-height-100 rounded-circle g-mb-20"
                                     src="{{ volontaire.imageName | acmarche_volontariat_download_image(volontaire) | imagine_filter('acmarche_volontariat_thumb') }}"
                                     alt="Image Description">
                            {% else %}
                                <img class="g-width-100 g-height-100 rounded-circle g-mb-20"
                                     src="{{ asset('assets/img-temp/125x125/img1.jpg') }}"
                                     alt="Image Description">
                            {% endif %}

                            <!-- Figure Image -->

                            <!-- Figure Info -->
                            <h4 class="h5 g-mb-5">
                                <a href="{{ path('volontariat_volontaire_show', {'id': volontaire.id}) }}">
                                    {{ volontaire }}</a>
                            </h4>
                            <div class="d-block">
                          <span class="g-color-cyan g-font-size-default g-mr-3">
                            <i class="icon-location-pin"></i>
                          </span>
                                <em class="g-color-gray-dark-v4 g-font-style-normal g-font-size-default">{{ volontaire.city }}</em>
                            </div>
                            <!-- End Figure Info -->
                        </div>

                        <hr class="g-brd-gray-light-v4 g-my-0">

                        <!-- End Figure List -->
                    </figure>
                    <!-- End Figure -->
                </div>
                <div class="col-md-4 g-mb-30 g-mb-0--md">
                    <table class="table-bordered table">
                        <tr>
                            <td>
                                <a href="{{ path('volontariat_backend_volontaire_edit', {'id': volontaire.id}) }}">
                                    <i class="icon-pencil"></i> Modifier
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a role="button" onclick="mafonction({{ volontaire.id }})"
                                   href="#"
                                   data-toggle="modal"
                                   data-nom="{{ volontaire.name }}"
                                   data-id="{{ volontaire.id }}"
                                   data-target="#volontaireDeleteModal">
                                    <i class="icon-trash trashtarget"></i> Supprimer ma fiche
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            {% else %}
                <div class="col-md-6 g-mb-30 g-mb-0--md">
                    <p>
                        Aucune fiche volontaire, <a href="{{ path('volontariat_backend_volontaire_new') }}"> ajouter une
                            fiche </a>
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- End Panel Body -->
</div>