{% extends '@Volontariat/admin/base.html.twig' %}

{% block body %}

    <h3>{{ utilisateur }}</h3>

    {% include '@Volontariat/admin/utilisateur/actions.html.twig' with {'utilisateur': utilisateur } %}

    <br/>
    <table class="table table-bordered table-hover">
        <tbody>
        <tr>
            <th>Nom prénom</th>
            <td>
                {{ utilisateur.nom }} {{ utilisateur.prenom }}
            </td>
        </tr>
        <tr>
            <th>Email</th>
            <td>
                {{ utilisateur.email }}
            </td>
        </tr>
        </tbody>
    </table>

    <h4 class="text-success">Gère les fiches volontaires</h4>
    {% if volontaires | length > 0 %}
        <ul class="list-group">
            {% for volontaire in volontaires %}
                <li class="list-group-item">
                    <a href="{{ path('volontariat_admin_volontaire_show',{'id':volontaire.id}) }}">
                        {{ volontaire }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-warning">Aucune</p>
    {% endif %}
<br />
    <h4 class="text-success">Gère les associations suivantes</h4>
    {% if associations | length > 0 %}
        <ul class="list-group">
            {% for association in associations %}
                <li class="list-group-item">
                    <a href="{{ path('volontariat_admin_association_show',{'id':association.id}) }}">
                        {{ association }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-warning">Aucune</p>
    {% endif %}

    {% include '@Volontariat/admin/utilisateur/delete.html.twig' with {'delete_form': delete_form } %}

{% endblock %}
