{{ form_start(form) }}
{{ form_errors(form) }}
{{ form_row(form.title) }}
{{ form_row(form.excerpt) }}
{{ form_row(form.actualite) }}
{{ form_row(form.content) }}

<button type="submit" name="save" class="btn btn-primary my-1 mr-sm-2 mb-3">
    <i class="fas fa-save"></i> Sauvegarder
</button>

{{ form_end(form) }}