{% extends '@Volontariat/admin/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/volontariat/blueimp/css/blueimp-gallery.min.css') }}">
{% endblock %}

{% block body %}

    <h3>{{ page }}</h3>

    {{ include ('@Volontariat/admin/page/actions.html.twig' ) }}

    <br/><br/>

    {{ page.content | raw }}
    <br/><br/>

    {% include'@Volontariat/admin/association/gallery-controls.html.twig' %}

    {% include'@Volontariat/admin/page/images.html.twig' %}

    {{ include ('@Volontariat/admin/page/delete.html.twig') }}

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#lightgallery").lightGallery({

                }
            );
        });
    </script>
{% endblock %}
